[2015-06-30 09:33] davidecaroselli opened #1 "Cannot change Context Analyzer port after engine creation: hard-coded value is 7531"

[2015-06-30 09:42] #1 closed, assigned to nobody

[2015-06-30 10:05] davidecaroselli opened #2 "'server' script should not require superuser permissions"

[2015-06-30 10:05] #2 closed, assigned to nobody

[2015-07-01 09:01] luca-mastrostefano opened #3 "Bidirectional server"
The same server should be able to translate both from source to target language and from the target to the source language, just specifying the direction for each query.

[2015-07-01 09:05] luca-mastrostefano opened #4 "More than one MMT server per computer"
The MMT server should check for free ports in order to start and allow more than one server running on the same computer.

[2015-07-01 09:28] luca-mastrostefano opened #5 "Query and context tokenization"
The query and the context specified by the user should be tokenized automatically.

[2015-07-01 09:33] luca-mastrostefano opened #6 "Filename bug"
MMT is not able to handle filename containing whitespace or filename starting with a dash:
"this is a test.txt" or "-this_is_a_test.txt"

[2015-07-03 08:56] #4 closed, assigned to davidecaroselli

[2015-07-10 09:20] nicolabertoldi opened #7 "improvement of server status"
I would suggest to improve the output of ./server status in two respects:

1) adding details for all servers (Context Analyzer, Moses Decoder, REST Interface):
- ports
- running/stopped status

similarly to what is output upon start
Starting Context Analyzer on port 56290...   DONE
Starting Moses Decoder on port 56291...   DONE
Starting REST Interface on port 56292...   DONE

2) adding URL as well

[2015-07-10 12:18] nicolabertoldi opened #8 "Improvement for tokenization"
Not sure if this is the right place to post the issue

I found that the tokenizer
bin/tokenizer/tokenize.sh

could be modified as follows:

OLD:
perl ${script_dir}/detokenizer.perl -b -l $lang | perl ${script_dir}/tokenizer.perl -b -X -l $lang | perl ${script_dir}/deescape-special-chars.perl -b

NEW:
perl ${script_dir}/detokenizer.perl -b -l $lang | perl ${script_dir}/tokenizer.perl -b -X -l $lang

[2015-07-10 14:25] #8 closed, assigned to nobody

[2015-07-13 08:10] nicolabertoldi opened #9 "create-engine does not work as expected"
I found that on FBK cluster (Red Hat 4.4.6-4)
the symbol '*' (asterisk) inside a bash is expanded to the content of the directory

This is avoided if the symbol is surrounded by the double quotation

Changes in three lines
OLD: for source_file in $( find $arg_train_data -type f -name _.$arg_source_lang ); do
NEW: for source_file in $( find $arg_train_data -type f -name "_.$arg_source_lang" ); do

[2015-07-13 08:13] nicolabertoldi opened #10 "mert does not work as expected"
I found that on FBK cluster (Red Hat 4.4.6-4)
the symbol '*' (asterisk) inside a bash is expanded to the content of the directory

This is avoided if the symbol is surrounded by the double quotation

Changes in two lines
OLD: for source_file in $( find $arg_train_data -type f -name _.$arg_source_lang ); do
NEW: for source_file in $( find $arg_train_data -type f -name "_.$arg_source_lang" ); do

OL

[2015-07-14 08:49] #9 closed, assigned to nobody

[2015-07-14 09:01] #10 closed, assigned to nobody

[2015-07-29 15:05] davidecaroselli opened #11 "Tokenized corpora for Language Model and Context Analyzer"
We should use the tokenized corpora (not the cleaned) to train LM and Context Analyzer

[2015-07-29 15:14] cattoni opened #12 "print hostname:port in server log files"
It would be useful to have in server log files (e.g. context-analyzer.err) not only the port but also the hostname  -- such as "hostname:port".
Currently in a distributed environment a client with only the port misses the hostname to connect to a server.
(by the way the current string contains a typo "Staring server" instead of "Starting server")

[2015-07-30 14:00] davidecaroselli opened #13 "-no-escape option of tokenizer.perl ignored"
The current version of the script tokenizer.perl has no option -no-escape. Must be implemented.

[2015-07-31 10:56] davidecaroselli opened #14 "Problem in ContextAnalyzer query by Moses Decoder"
Moses decoder is unable to retrieve the context-bias info from the ContextAnalyzer instance on the same machine. Steps to reproduce this bug on `mmt.rocks`:
- Move to path `/mnt/mvp/v/0.11/content/mmt_ca-0.2` and start monitoring bias server response with command `tail -f engines/ca-0.2/logs/moses-decoder.log | grep "SERVER RESPONSE"`
- With another terminal launch this translation request: `curl

[2015-07-31 14:27] cattoni opened #15 "Problem with "scripts/EncodeContext.jar" with small files"
The command to generate a file with context
   java -jar ./scripts/EncodeContext.jar context_num_lines in_file out_file
gives problem when in_file is small.

Namely a problem occurs when the number of lines of in_file are is less or equal to (context_num_lines + 1)

In details:
- if in_file num lines == context_num_lines + 1, then the out_file contains one line only;
- if in_file num lines < conte

[2015-08-03 11:12] #12 closed, assigned to davidecaroselli

[2015-08-03 15:04] #13 closed, assigned to davidecaroselli

[2015-08-10 14:53] ugermann opened #16 "Individual startup and shutdown of servers"
It would be helpful if the server script allowed start-up and shutdown of individual servers. For example, for debugging I may want to have only the context analyser running and start and monitor the moses server myself.

[2015-08-14 07:20] nicolabertoldi opened #17 "wrong alpha release number"
In release MMT-0.10-alpha
the "README.md" contains the wrong  number (0.9) in the first line

[2015-08-14 07:26] nicolabertoldi opened #18 "impossible download of a release using wget"
I don't know   if it is a real issue
but I noticed that from the release page      https://github.com/ModernMT/MMT/releases

if I copy the link for the download of the source code
https://github.com/ModernMT/MMT/archive/v0.10-alpha.tar.gz

I fail to download the tar file  using wget from a linux shell
Below the error I get.

no problem instead,  if I just click on the link on the website
it downlo

[2015-08-14 09:11] nicolabertoldi opened #19 "directory bin/version is not available in tagged release "v0.10-alpha""
in the tag "v0.10-alpha",
the directory "bin/version" is not present

while it is in branch "master"

[2015-08-14 10:46] #19 closed, assigned to nobody

[2015-08-14 10:49] #18 closed, assigned to nobody

[2015-08-15 17:57] nicolabertoldi opened #20 "missing execute permission"
the following script has no execute permission,
scripts/getfreeports.py

hence script "server"   fails   at line 70

Enabling the permission this step works properly.

[2015-08-15 17:58] nicolabertoldi opened #21 "non standard installation for Java"
if java is not installed in the standard way, the server script fails
in FBK we changed the script as follows

OLD
java_home=$(dirname $(dirname $(readlink -e /usr/bin/javac)))

NEW:
java_home=$(dirname $(dirname $(readlink -e ${JAVA_HOME}/bin/javac)))

[2015-08-15 18:03] nicolabertoldi opened #22 "missing jsvc"
In FBK, probably because our Java installation is not standard,
we had to use a specific version of jsvc,
which was provided by Davide to Roldano,
copy it in "bin/context-analyzer/"
and change the script "server" as follows

OLD:
jsvc=$(which jsvc)

NEW:
jsvc=${bin_dir}/context-analyzer/jsvc

[2015-08-15 22:41] cattoni opened #23 "context-analyzer server fails at startup"
In the new MVP (0.10) the context-analyzer fails at startup with the following error message:

Cannot find daemon loader org/apache/commons/daemon/support/DaemonLoader
Service exit with a return value of 1

Maybe some class is missing in the context-analyzer.jarfile?

[2015-08-16 08:54] #23 closed, assigned to nobody

[2015-08-17 09:54] nicolabertoldi opened #24 "Problem with "scripts/EncodeContext.jar" with small files"
related to issue #15

There is still a problem:

when the input document contain one sentence only, the process fails.

Assuming that "input" file contains one line, this is the error message I got

java -jar EncodeContext.jar 5 input output
Exception in thread "main" java.util.NoSuchElementException: queue is empty
at CircularFifoQueue.remove(CircularFifoQueue.java:177)
at ContextLineIterator.nex

[2016-01-02 14:36] marcotrombetti opened #25 "create-engine fails with 1 domain only"
@davidecaroselli check create-engine, it will fail after tokenization if there is only one domain.

[2016-01-02 14:45] #25 closed, assigned to nobody

[2016-01-05 22:23] marcotrombetti opened #26 "Tokenizer stalls"
If the tokenizer encounters an unusual char it will stall.
example data attached.

[data-mid.zip](https://github.com/ModernMT/MMT/files/79138/data-mid.zip)

[2016-01-05 22:25] #3 closed, assigned to davidecaroselli

[2016-01-05 22:26] #5 closed, assigned to davidecaroselli

[2016-01-05 22:27] #6 closed, assigned to davidecaroselli

[2016-01-05 22:32] #17 closed, assigned to nobody

[2016-01-05 22:33] #20 closed, assigned to nobody

[2016-01-05 22:34] #16 closed, assigned to davidecaroselli

[2016-01-06 10:32] marcotrombetti opened #27 "Possible Bug In Context and/or Suffix"
Using MMT 0.10, If I don't provide a context the translation quality get worst. But It should not.

With a fake context the translation is correct:
[code]
With no context (that should be equal to fake context), the translation is wrong
[code]

The training set is made of 2 domains, one with WMT data the other is a single word ('impossibleword') so the context match for that domain is always 0.
[co

[2016-01-06 10:37] #22 closed, assigned to nobody

[2016-01-06 10:47] #11 closed, assigned to davidecaroselli

[2016-01-06 12:21] #21 closed, assigned to nobody

[2016-01-06 12:23] #14 closed, assigned to ugermann

[2016-01-06 21:21] marcotrombetti opened #28 "Auto Tuning, Self Evaluation and Time to complete"
It would be great if MMT could provide:
1 - Tuning during the training as an optional parameter.
2 - Estimation of the quality of the engine ad the end of training.
3 - Training progress bar. (time to complete the training)

Assuming a real world scenario where a company will train an engine on their TM to translate similar future content.

@mfederico
I know how to do a good estimation of 3.
Do yo

[2016-01-07 09:25] #7 closed, assigned to davidecaroselli

[2016-01-07 09:25] #15 closed, assigned to nobody

[2016-01-07 09:25] #24 closed, assigned to nobody

[2016-01-07 09:38] #26 closed, assigned to davidecaroselli

[2016-01-07 22:44] marcotrombetti opened #29 "Tokenizers Speed"
New parallel tokenization is working great (>4x faster) but it can be up to 12x faster by a better prediction of how many process to spawn.

Today it may be
processes = num_cores/3\*2
but the right number could be
processes = num_core\*2

With a 1B words model it only consumes 30% of CPU with still 0% iowait.

[2016-01-07 22:52] marcotrombetti opened #30 "Possibile Tokenizer Memory Leak"
Tokenizer's Java process uses 15GB of RAM and keep growing...
Data: 1B words en fr WMT task, (News+Europarl+UN+CommonCrawl)

[code]

Is it normal that the dispatcher uses so much RAM?

[2016-01-07 23:57] mfederico opened #31 "Draft release crashes"
It took me some time to update the release of java to version 8 and to tell my computer to actually use it with

maybe some further instructions would be helpful.

Then, while running

the command crashes with the following message:

=========== TRAINING STARTED ===========

ENGINE:  default
CORPORA: /home/marcello/Progetti/mmt/examples/data/train (3 documents)
LANGS:   en > it

INFO: (1 of 6) Cor

[2016-01-08 08:32] marcotrombetti opened #32 "Context Analyzer Crashes on 1B source words"
I created a corpus made of

[code]

After ~3 hours it crashed in this way:

[code]

The log file says this:

[code]

[2016-01-08 10:31] davidecaroselli opened #33 "Missing python2.7 requirement in documentation"
We should include python2.7 in requirements list of file INSTALL.md

[2016-01-08 10:32] davidecaroselli opened #34 "Explain port usage in distributed infrastructure"
We should mention which ports are used in the distributed infrastructure and to ensure that the machines are reachable each other

[2016-01-08 13:25] #32 closed, assigned to nobody

[2016-01-08 14:36] #34 closed, assigned to nobody

[2016-01-08 14:38] #33 closed, assigned to nobody

[2016-01-08 22:42] marcotrombetti opened #35 "Monolingual LM training data"
@mfederico
What is the priority of supporting monolingual data for LM training.
MMT uses today only the target translation as LM.

[2016-01-09 10:35] marcotrombetti opened #36 "Corpus Clean Crash"
I was training the news v10 corpus from the WMT task.

I attached the exact sentence that make MMT crash.
[test.zip](https://github.com/ModernMT/MMT/files/83619/test.zip)

And I got this error:
[code]

[2016-01-09 10:39] davidecaroselli commented on #36
Can you also attach the log files inside engines/default/logs?

Il sabato 9 gennaio 2016, Marco Trombetti <notifications@github.com> ha
scritto:

[2016-01-09 10:40] marcotrombetti commented on #31
@davidecaroselli

Ti allego qui il contenuto del file di Marcello:

[code]

[2016-01-09 12:10] davidecaroselli commented on #36
Never mind, I just realized that the entire process took less than 3 seconds :) I'll reproduce the bug.

[2016-01-09 18:44] marcotrombetti opened #37 "LM Training Speed"
Similar to #29 Language model training can be parallelized much more.
Using only 19% of CPU on a 16 core machine, 0% iowait
Using only 9% of CPU on a 32 core machine, 0% iowait

How do we choose the num of parallel process for build-sublm.pl and gzip?

see below
[code]

[2016-01-09 22:43] marcotrombetti opened #38 "Model Creation Crash - 2B words corpus (17GB)"
tail -n 10000 -f build.tm.log
[code]

Data available on Amazon (MMT High Performance instance, requires Translated pem)

[2016-01-09 23:08] marcotrombetti opened #39 "Non-Amazon Ubuntu 14.04.2 LTS - Java Error"
I got the original ISO of Ubuntu 14.04 LTS.
I installed in on a VirtualBox VM
I followed the instructions on INSTALL.md (no errors)

It trains the model, **but it crashes on translation.**

See screenshot:
<img width="1034" alt="schermata 2016-01-10 alle 00 04 24" src="https://cloud.githubusercontent.com/assets/9898003/12218903/15ab51a8-b72e-11e5-8b9c-5d23f55345ea.png">

[2016-01-09 23:30] marcotrombetti commented on #27
Probably solved in 0.11 (At list it works differently)

Closing, will reopen as integration tests tasks.

[2016-01-09 23:30] #27 closed

[2016-01-09 23:44] marcotrombetti commented on #31
Comunque mi sembra che non possiamo assumere che Ubuntu 14.04 funzioni in tutti i casi.

Vedi ad esempio #39

[2016-01-10 10:47] marcotrombetti opened #40 "Manually Changing Parameters"
in 0.11 I cannot longer find where to change the moses.ini parameters.

This files do not included the weights.

[code]

@davidecaroselli where is now the file?

If the file was removed on purpose, I think we should put back the opportunity to change them manually.

[2016-01-10 16:11] alessandrocattelan commented on #39
Confirm issue on Ubuntu (VBox)

    "error": {
        "message": "Could not initialize class eu.modernmt.network.uuid.UUIDSequence",
        "type": "NoClassDefFoundError"
    }

![screenshot from 2016-01-10 17 09 29](https://cloud.githubusercontent.com/assets/13222990/12222444/23ea946a-b7bd-11e5-9430-6e5a1604a9cf.png)

[2016-01-10 23:38] marcotrombetti opened #41 "Ubuntu 15.10 - Python Import Error"
I created a new Ubuntu 15.10 using VirtualBox.

I was able to install Java 8 using the instructions provided.

[code]

Will say there is an error in met line 9.

[code]

[2016-01-11 07:20] cettolo commented on #38
Marco

l'errore pare verificarsi durante la prima lettura da parte di fast_align dei dati paralleli preparati durante il pre-processing.

Se il problema è ancora irrisolto, puoi darmi il link ai dati e alla macchina che lo hanno causato?

Mauro

On Jan 9, 2016, at 11:43 PM, Marco Trombetti wrote:

[2016-01-11 09:22] davidecaroselli commented on #36
@marcotrombetti the corpus you've provided is invalid: the EN version has 2 lines, while the FR has only one line. The cleaning script is complaining about that. Can you please check your parallel data to see if same documents have same lengths?

[2016-01-11 10:07] marcotrombetti commented on #38
@cettolo questo we ho fatto train dei corpus singoli e nessuno ha dato problema.

Ora sto rifacendo il corpus (17GB) facendo il log esteso.
Se persiste ti mando link.

[2016-01-11 10:10] marcotrombetti commented on #36
@davidecaroselli I think this is the issue...

There is a broken carriage return that is interpreted in a different way from the tokenizer and cleaner.

Can we filter those so it does not crash?

[2016-01-11 11:37] davidecaroselli commented on #36
@marcotrombetti  I've checked the corpus and the fact is that Java already detect the broken carriage return and it fixes it without any problem. The real problem is that the FR version does not have any 'new line' characters at all before the word "Avec": not \n (10), nor \r (13).

The only way we can make it work is to rewrite the Java BufferedReader entirely in a way that it does not tries to f

[2016-01-11 11:42] davidecaroselli commented on #31
@mfederico  could you please send me a zip file with the entire engines folder, and the exact sequence of commands you run?

Can you also send me the version of your python? Just run 'python --version' in a terminal. Thanks!

[2016-01-11 14:27] davidecaroselli commented on #36
For these kind of data, the best solution appears to be to split lines only on newline char (\n = ASCII 10). I will proceed in this way.

[2016-01-11 14:43] #36 closed

[2016-01-11 14:43] #39 closed

[2016-01-11 14:51] davidecaroselli commented on #38
Thanks Mauro, changed assignee to you.

[2016-01-11 15:17] davidecaroselli commented on #37
@nicolabertoldi is there already an option to the scripts for LM training to specify the number of threads? Would you take this challenge?

[2016-01-11 15:43] nicolabertoldi commented on #37
In IRSTLM, the training of the LM is not multithreaded.
However it is possible to train the lm on sub-portions of the corpus and then to merge the sub-models in one LM. For some kind of smoothing, the smoothing is approximated with respect to the "correct" one.

hence, either:
if MMT system employed the "tlm" command to train the LM, there is no way to use multi-threading
if MMT system employed th

[2016-01-11 16:32] mfederico commented on #37
To be more clear:

- if the corpus is large you can use build-lm which is multi-threaded and fast
- if the corpus is small tlm is nevertheless fast
- if you have many small corpora we could  train more LMs in parallel.

Marcello

[2016-01-11 16:37] nicolabertoldi commented on #37
one further clarification on this claim

Actually build-lm   is not multithreaded, but multi-process; i.e. multiple processes work in parallel to compute probs on portions of the corpus.
Indeed, it is fast

Nicola

On Jan 11, 2016, at 5:32 PM, Marcello Federico wrote:

[2016-01-11 22:28] marcotrombetti commented on #38
Quick update:
The model run of space and I restarted it with more storage.
It used 5x the corpus size, docs where saying 4x. Doc updated.

Result expected tomorrow at 4pm.

[2016-01-12 07:43] marcotrombetti commented on #37
I confirm we are testing on large corpus (>300M words)

Either threads or process will work. The important is using the resources of the machine well.

The alignment, for example, is very CPU efficient: with 36 cores it uses on average 34

[code]

[2016-01-12 07:47] nicolabertoldi commented on #37
to this purpose, I suggest to use build-lm to train a LM
setting the number of portions (i.e. one of the parameters)
close to the number of available cores

Nicola

On Jan 12, 2016, at 8:43 AM, Marco Trombetti wrote:

[2016-01-12 07:52] marcotrombetti commented on #37
Good to me. How can we test?

@davidecaroselli are you independent for this or do you need help?

[2016-01-12 08:11] marcotrombetti opened #42 "Port Already in Use will Crash"
8000 and 5000 being round numbers are used by many services that could be pre-installed on the machine (see Domenico problem, he had all the 3 used).

Today when this happen MMT will crash.

I suggest we do 2 different things:

1) We will give you an error with the suggestion to change port.

2) To maximize the UX, minimize the problem by changing the default:
8000 -> 8045
5000 -> 5016
5001 -> 501

[2016-01-12 09:29] marcotrombetti opened #43 ""./mmt evaluate" and "./mmt tune" enhancement"
Open for discussion:

As by discussion we are missing the model evaluation functionality.

Here is the proposal:
- When training, up to 1000 sentences will be removed from the corpus for creating the dev set (500) and test set (500) in the folder 'engines/youmodel/data/[dev | test]'. Min (1000, 1% of the corpus sentences)
- Sentences should be extracted so that there is not an extra rewrite of the

[2016-01-12 10:07] davidecaroselli commented on #37
I run some tests, first of all I checked and the multi-process parameter (-k) is already used and set to # of CPUs. I run the tests on a 4-cores machine, and I set "k" to 4 (I've also tried with 8, but I could not see any difference). I can recognize 6 phases of build-lm.sh:

* add-start-end.sh **[CPU 30% - Duration: short]**: can we skip this phase? I think it should be possible to change the tra

[2016-01-12 15:46] #42 closed

[2016-01-12 16:25] nicolabertoldi commented on #37
Hi Davide,

below I try to discuss and comment about the LM training,
but before I would like to ask you if you can report the actual times taken from each of the LM training steps.

I am not sure which version of build-lm.sh are you considering
I discuss below that available in IRSTLM Github repo
https://github.com/irstlm-team/irstlm/blob/master/scripts/build-lm.sh

The main goal of build-lm.sh w

[2016-01-12 17:18] davidecaroselli commented on #37
@nicolabertoldi thanks for the explanation, I think we've found some good points to work on.
First of all, the script I'm using is available from the 0.11 release package ( https://github.com/ModernMT/MMT/releases/download/v0.11/mmt-0.11-ubuntu14_04.tar.gz ).

I'll suggest to proceed in this way:
* First remove gzip/gunzip usage, in this way we can evaluate the tradeoff between RAM used and speed

[2016-01-12 18:05] mfederico commented on #43
Hi

my idea is that tuning should be replaced with something
more computation and more data efficient.  But we have to
work a bit on this.  In the current scenario with K domains, I
discussed with Nicola and Roldano about either mapping the
weights to those of the “closest” domain. They are now running
these experiments.

We also carried out experiments to improve the domain distribution
of the CA

[2016-01-12 21:10] mfederico commented on #37
Hi, notice that add-start-end.sh can work in pipeline with other commands.
<

[2016-01-12 23:31] marcotrombetti commented on #38
Trained completed in 15 hours.
I think it was just a disk space problem not notified. I updated The docs.

[2016-01-12 23:31] #38 closed

[2016-01-12 23:33] marcotrombetti commented on #29
Solution proposed tested with Davide.
No improvments. Redesign required.

[2016-01-13 06:30] cettolo commented on #38
bene (a parte la discrepanza sulla dimensione attesa)

[2016-01-13 08:38] marcotrombetti commented on #43
@mfederico Tuning is clear to me as expressed also in #28
We will discuss it a little more and implement that solution.

For quality CA/LM, yes this make sense, but please consider also that the weights of the CA are not optimized since we may go with Suffix Array Ranked Sampling so that weights are important only to rank domains. They don't really provide sampling weights. Let's discuss this more

[2016-01-13 09:22] mfederico commented on #43
I like the idea of proving self assessment of the created MT.
Marcello

[2016-01-13 22:03] marcotrombetti opened #44 "Better Process Management"
Some of the MMT core process (server and translation) remains up when the task is closed killed.

Example 1
Start the engine, mv the engine directory. You cannot stop the server anymore. You have to kill the processes 1 by 1.

Example 2
your request a translation, you type ctrl-c to stop it and the process stay alive.

[2016-01-13 23:01] marcotrombetti commented on #41
Installed the 15.10 Official from Ubuntu. Same problem.

[2016-01-13 23:18] marcotrombetti commented on #41
Request module is not installed on Ubuntu 15.10, Updated INSTALL documentation with instructions.

Now training works but engine does not start:
[code]

The mentioned log does not exists.

[2016-01-13 23:19] marcotrombetti commented on #41
I tried different ports also.

[2016-01-14 10:27] davidecaroselli opened #45 "Critical bug in TUNING process"
During the execution of MERT algorithm, the features weights are not updated. You can verify the bug by checking the diff between two different iteration of the MERT:

diff runN.out runN+1.out

you will notice that the two files are identical.

[2016-01-14 11:24] #45 closed

[2016-01-14 12:35] davidecaroselli commented on #40
If you need to change the moses.ini parameters, **except for weights**, you can modify the template file *engines/default/data/moses.ini*.
If you want to change the decoder weights, you find them in file *engines/default/engine.ini*.
The file *engines/default/runtime/moses.ini* is dynamically generated so its changes won't be loaded or stored anywhere.

To apply your changes please remember to res

[2016-01-14 12:35] #40 closed

[2016-01-14 16:21] davidecaroselli commented on #37
@nicolabertoldi  worked on a new version of the training scripts without the gzip command. We run some tests and the CPU usage is reported in the attached image (blue is the old version, red is the new version).

![Comparison](https://cloud.githubusercontent.com/assets/1674891/12329816/6707f56c-bae2-11e5-84b5-6ee923c5f5a7.png)

With the new process we gain **1.2x** in speed on a 4-cores machine. @

[2016-01-14 16:26] nicolabertoldi commented on #37
No, you are welcome to measure it.

[2016-01-14 16:47] ugermann commented on #37
Did you drop page caches before measuring (sync; echo 3 >
/proc/sys/vm/drop_caches)? If unzipped files are still in the fs cache,
yes, using unzipped files is faster, but if you have to load the data from
disk, disk performance may become the bottle neck, especially on disks
accessed via NFS.

- Uli

On Thu, Jan 14, 2016 at 4:21 PM, Davide Caroselli <notifications@github.com>
wrote:

--
Ulrich Ger

[2016-01-14 17:24] davidecaroselli commented on #37
@ugermann I've also tested the script in brand new virtual machine, and I had the same results.

@nicolabertoldi I've checked the disk space required: turns out that without zipping, temporary files require 4 times more than zipped version. Please note, however, that it's 4 time the disk space of only the largest input domain, because temp files are removed after every iteration.

The final decisi

[2016-01-14 17:24] #37 closed

[2016-01-14 23:52] marcotrombetti opened #46 "0.11.1 SNAPSHOT Fail to Run Example"
[code]

[2016-01-15 00:02] marcotrombetti commented on #31
Can we close this?

@davidecaroselli has it been solved?

[2016-01-15 09:40] davidecaroselli commented on #46
I run some tests, but unfortunately I could not replicate the bug. @marcotrombetti Could you please send me the log file under runtime/default/training/logs/lm.log ? Thanks!

[2016-01-15 18:17] davidecaroselli commented on #46
I've found the problem: IRSTLM's compile-lm crashes with the arpa file created. It seems that the new scripts for unzipped LM training produce a malformed arpa file.
The command log says:

[code]

You can find the file to reproduce the bug here: [arpa.zip](https://github.com/ModernMT/MMT/files/92298/arpa.zip)

compile-lm has been compiled from the last commit of irstlm, branch cd-correction-model.

[2016-01-15 18:47] cattoni commented on #46
The "arpa" file is truncated: it contains only the 7217 unigrams and a subset of the 31432 bigrams (no 3-grams, 4-grams, 5-grams)

[2016-01-15 19:48] davidecaroselli commented on #46
I suspect that this bug is related to the problems we're having with the new version of the LM training scripts wrote for issue #37

I'll keep you updated!

[2016-01-15 20:17] mfederico commented on #46
The iarpa file looks broken. It ends with the bigram line
-3.311330	. Voteremo	-0.301030
-non

suspect the buildlm script crashed somewhere.
Marcello

[2016-01-16 09:10] marcotrombetti opened #47 "Running folder outside engines?"
"running" folder was previously inside "engines".

Is it a bug or by design?

[2016-01-16 09:38] marcotrombetti opened #48 "API merge - translate and nbest"
Enhancement: nbest should be part of the "translate" endpoint.
Bug: nbest currently crashes when context is passed

How is it now
[code]

How it should be
[code]

the nbest list should be added as an extra array in the results. Not change the the standard structure.

The motivations:
- We want to keep the num of end-points small to make it easy for developers to join.
- nbest is just a specific ca

[2016-01-16 10:01] marcotrombetti opened #49 "Debugging quality"
@ugermann @davidecaroselli @nicolabertoldi @mfederico

I have many indicators that there is something going wrong somewhere.
I was not able to spot the problem, but I report my findings and hope in your analytical skills.

I have training an engine with only [CommonCrawl](http://www.statmt.org/wmt13/training-parallel-commoncrawl.tgz) data from the WMT15 task, so it is **just a 1 domain**.

**By de

[2016-01-16 21:46] marcotrombetti commented on #48
Please also note that best output is currently tokenized and should be detokenized

[2016-01-17 09:40] marcotrombetti opened #50 "Out of Memory and/or Disk"
I tried to create a few large and the aligner crashed.
After some debugging I discovered is a out-of-memory problem and in another case a temporary disk full.
The software crashed without providing any hint to the problem.

I suggest adding a training step to check hw requirements and add a warning.
Example Text:
Warning: >45GB of ram required, you have 32GB
Warning: >125GB of storage required, yo

[2016-01-17 10:02] marcotrombetti commented on #46
Few more notes after testing on 4 different hw.
Does not crashes on AWS with limited num cores <17.
I guess if a parallelization bug.

@davidecaroselli If you don't find the bug quickly consider rolling back. The LM change was minor (+10% training speed) and this releases add many important and critical fixes. (eg. broken tuning)

Marco

[2016-01-17 10:08] marcotrombetti opened #51 "Training Instructions - Minor"
Add **-e ENGINE_NAME** to the instructions

Now
[code]

Should be
[code]

[2016-01-17 10:20] marcotrombetti commented on #51
On the same topic:
mmd status should give the status of all engines is no engine name is passed and output should be enriched

Now
[code]

Should be
[code]

And when passing the parameter
[code]

If on a slave
[code]

[2016-01-17 11:30] marcotrombetti opened #52 "Add option 'resume' to 'create' command"
I have a model that crashed at step TM, out of memory
I started a new machine with more ram and run

[code]

I expected it was resuming, but it did not work.

And as far as I understand TM is getting the original corpus as input instead of the tokenized corpus as it should, because that data has been deleted.

We have 2 options:
1 - We warn the user that the **-s** option is not able to resume and

[2016-01-17 15:57] marcotrombetti opened #53 "Tokenizer Improvement for apos"
Some input chars will create funny stuff.

First apos in examples should be managed by the tokenizer.

Unusual Apos
[code]

With standard apos
[code]

Without apos
[code]

[2016-01-18 09:56] davidecaroselli opened #54 ""translate" script in wrong folder"
@marcotrombetti  the "scripts" folder contains only core-scripts. Other extras (like translated script) should me moved to ad-hoc folder.

[2016-01-18 09:56] #46 closed

[2016-01-18 09:56] #54 closed

[2016-01-18 17:12] davidecaroselli commented on #37
This feature is currently **disabled** due some problems found on systems with more than 8 CPUs.

[2016-01-18 22:55] marcotrombetti opened #55 "MMT Cluster - syncing not start"
[code]

But nothing happened afterwords. Do syncing works in 0.11.1?

mmd status not providing any info

[2016-01-18 23:22] marcotrombetti commented on #55
Various Problem found:
- .pem files should have permission 600 -> We should notify the user with a warning
- relative path for the pem do not work, absolute works. -> Fix
- mmt status  should provide info about the sync.
- mmd start **--master** user@ip is on README and  **-m** is in the cmd line help. Which one is correct?
- Log file was hard to find.
- mmd start said OK, but the sync failed.

[2016-01-19 13:28] davidecaroselli commented on #47
This is by design:
* **engines** path holds all the models of each engine (synchronized among the whole cluster)
* **runtime** path holds all the runtime data such as logs, pid ecc... (private for each machine)

[2016-01-19 13:28] #47 closed

[2016-01-19 13:59] davidecaroselli commented on #31
I close it for now because the bug is still not replicable. If you have more information about this problem, please reopen it.

[2016-01-19 13:59] #31 closed

[2016-01-19 17:19] davidecaroselli commented on #55
Last merge from develop resolved all these issues:
* `mmt start` checks pem permission before starting rsync
* relative paths for pem files now works correctly
* `mmt start` ends only when the models has been correctly synchronized
* removed short version `-m` for option `--master`
* in case of error, log file path is now printed on screen

[2016-01-19 17:19] #55 closed

[2016-01-19 17:23] davidecaroselli opened #56 "rsync models is too slow for very large models"
I've tested the cluster infrastructure for a 46Gb engine: the rsync process was too slow even if master and slave instances were already synchronized.

We need to change provisioning algorithm of the models to make it way faster.

[2016-01-19 18:50] ugermann opened #57 "Compilation failure on Core/src/main/java/eu/modernmt/network/cluster/ExecutionQueue.java"
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-compiler-plugin:2.0.2:compile (default-compile) on project mmt-core: Compilation failure: Compilation failure:
[ERROR] /mmt/ModernMT/src/Core/src/main/java/eu/modernmt/network/cluster/ExecutionQueue.java:[108,19] error: unmappable character for encoding ASCII
[ERROR]
[ERROR] /mmt/ModernMT/src/Core/src/main/java/eu/modernmt/network/clust

[2016-01-20 09:11] davidecaroselli commented on #57
just removed the non-ASCII chars. Please try update the code with the
command:

git pull origin master

and then retry compilation.

- Davide

On Tue, Jan 19, 2016 at 7:50 PM, Ulrich Germann <notifications@github.com>
wrote:

[2016-01-20 09:28] cattoni commented on #49
@cattoni

Assuming that cases 2 and 3 ("Context Not Passed" and "Impossible Context"
respectively) are ok, I've
tested case 1: what happens in a single-domain setup when translating the
same input but varying the context-weight?

Basically with the current adaptive system, it can happen that the output
translation changes.

The reason of this behaviour appears to be as follows: while the suffix
ar

[2016-01-20 09:41] mfederico commented on #49
Hi,

so a suggestion could be to always normalise the CA weights to sum up to 1.

Marcello

[2016-01-20 09:49] nicolabertoldi opened #58 "moses wrongly handle verbosity parameter"
I did not understand why, but
Moses is not able to interpret the verbosity parameter ("v") if it is specified in the configuration file;
hence it uses the default value, which is 1.
No problem instead if you set "-v 0" in the command line   or if you set "verbose"   in the configuration file

Note that setting parameters in the command line always overwrites those set in config

In summary,
assumi

[2016-01-20 09:58] cattoni commented on #58
@cattoni

Nicola, I think you mean
    moses -f moses.ini_verbose0 --> verbosity 0
instead of
    moses -f moses.ini_verbose0 --> verbosity 1

[2016-01-20 10:02] nicolabertoldi commented on #58
you are right, sorry

Assuming that moses.ini_v0 contains
[v]
0

moses -f moses.ini_v0 -v 0 --> verbosity 0
moses -f moses.ini_v0 -verbose 0 --> verbosity 0
moses -f moses.ini_v0 --> verbosity 1

Assuming that moses.ini_verbose0 contains
[verbose]
0

moses -f moses.ini_verbose0 -v 0 --> verbosity 0
moses -f moses.ini_verbose0 -verbose 0 --> verbosity 0
moses -f moses.ini_verbose0 --> verbosity 0

[2016-01-20 11:39] marcotrombetti commented on #49
Unfortunately I was not able to have a different translation changing the score.

Anyway@davidecaroselli can you release a new version with score normalization. We will try and test again.

[2016-01-20 11:42] marcotrombetti commented on #56
Please can you run a comparison:
1) Time Required with a single machine
2) Time Required with 2 machines

In the ideal case 2) should take 50% of the time. Slow means that it is 95%? or 55%?
I understand that is slow but I would like to understand is it make scalability impossibile or add a small penalty.

[2016-01-20 11:53] cattoni commented on #49
@marcotrombetti: in your original post, the first two cases "Context
Passed" and "Context Not Passed" produced different translations ("Je
comme" and "J'aime il" respectively). In the first case the context-weight
was 0.017159795, in the second case 1.0 (implicitely). You can utilize such
example to test the next version.

On Wed, Jan 20, 2016 at 12:39 PM, Marco Trombetti <notifications@github.com

[2016-01-20 12:13] davidecaroselli commented on #56
The problem is ~10min and high I/O to start a slave instance that is *perfectly synchronized* with the master. Anyway, I think I have a solution that I would like to discuss.

[2016-01-20 12:14] davidecaroselli commented on #57
@ugermann have you had time to test the fix?

[2016-01-20 12:15] nicolabertoldi commented on #49
Using the standalone version of Moses provided by Davide,
querying in the corresponding way (see below),
and changing the context weights, I got the different translation (and scores) or maybe same translation but different scores.

The fact that two translations are equal, when using different contexts (and different weights) does not mean that the translation are actually the same; their scores

[2016-01-20 12:15] davidecaroselli commented on #58
who can work on this issue? @ugermann @nicolabertoldi @cattoni please set the assignee of this issue.

[2016-01-20 12:38] davidecaroselli commented on #58
Actually I think I have found the problem: it's inside the server implementation.
The instruction  `manager.OutputNBest(cout, nBestList);` is executed no matter what the verbose level is.

I'm fixing it in the new JNI server version (branch direct-server)

[2016-01-20 13:49] nicolabertoldi commented on #58
actually you could have spotted a different issue. i.e. that of having nbest in the log of server

I meant the problem that the parameter "v" in the config file is not handled at all.

I create a new issue for the "wrong" output of the nbest.
This issue keeps related to verbose parameter.

Nicola

[2016-01-20 13:51] nicolabertoldi opened #59 "nbest in server outputs"
the nbest are put on stdout regardless the verbosity value.

[2016-01-20 14:55] davidecaroselli commented on #59
I solved this issue on branch direct-server. I've removed the line:

`manager.OutputNBest(cout, nBestList);`

There's no need to output all the nbest list anymore, because these results are going to be passed programmatically to the upper layers, instead outputting them on standard output.

[2016-01-20 15:11] nicolabertoldi commented on #59
I will check if this change do not cause any problem in the xmlrpc server version

If ok, I will commit the change in mmt-dev as well.

Does anyone have objections?

Nicola

On Jan 20, 2016, at 3:55 PM, Davide Caroselli wrote:

[2016-01-20 15:26] davidecaroselli commented on #59
This change has been made on code that replaces XMLRPC, so there 's no backward compatibility issue. If you want to look at the code, it's available here: https://github.com/ModernMT/MMT/tree/direct-server/src/Decoder/native

[2016-01-20 17:33] davidecaroselli commented on #59
Update @nicolabertoldi : I decided to skip for now the new server implementation  in branch direct-server because it's becoming too expensive in terms of time and effort.

Anyway, you could apply the same fix to the XMLRPC server here: https://github.com/ModernMT/mosesdecoder/blob/mmt-dev/moses/server/TranslationRequest.cpp#L220

I'm going to close this issue for now because it is actually a Moses

[2016-01-20 17:33] #59 closed

[2016-01-20 17:35] davidecaroselli commented on #58
@nicolabertoldi it seems that this bug is related to Moses instead of MMT, if you agree I'll suggest to move this issue to the mosesdecoder repository and close this report.

[2016-01-20 17:43] nicolabertoldi commented on #58
for me its fine

@davidecaroselli: by the way you have the way to reduce verbosity in the server
I would suggest you apply the change in the MMT scripts

[2016-01-20 22:23] marcotrombetti commented on #48
I see you removed the bug tag.

Just to clarify it refers to the fact that if you pass context to the nbest API it crashes. Secondo line of the post.

[2016-01-21 06:53] davidecaroselli commented on #49
@nicolabertoldi can you apply the weight normalization to IRSTLM? I would like to complete this task for today to let Marco test it asap. If you need any kind of support, please let me know.

**Max priority** for this task.

[2016-01-21 06:58] davidecaroselli commented on #48
I removed just because the context is simply not supported for this API. It was intended to be a private API, used only by MERT.

Anyway, I do agree that it should be reworked to be merged with the /translate API and inherit all its options and features. I'm going to work to this task today.

[2016-01-21 07:03] davidecaroselli commented on #58
I'm going to apply this change today. Thanks for your work!

[2016-01-21 07:04] nicolabertoldi commented on #49
@davidecaroselli
I could, but would it be better that the context analizer provide normalized values? or alternatively, that Moses normalized the weights before SA and LM use them.
Moreover, are you sure that SA uses normalized weights; maybe it does not normalize weights, but it computes the same options and scores.
Let me know your preference.

[2016-01-21 07:23] davidecaroselli commented on #49
My opinion is that the Context Analyzer provides its semantics to the
weight returned: they are similarity score. And for this reason they do not
sum up to 1.

If a specific implementation of a Moses feature (Adaptive LM in this case)
works better with some manipulation of the ca weights, it must be its
responsibility to apply that manipulation. In the future we could even
discover that for LM sui

[2016-01-21 08:41] mfederico commented on #49
Hi,

yes but keep in mind that a probabilistic/distributional interpretation
of the CA weights makes things much simpler. If are able to improve
the CA component (e.g. with some LM-based model)  we will not
have to retune the whole MT system.

Marcello

[2016-01-21 09:12] davidecaroselli commented on #49
@mfederico good point. But I imagine that even a probabilistic CA could returns values that does not sum up to 1. That's because you're receiving only a portion of the whole distribution (only the top N) and even in this case, the LM should normalize to 1 because it just "work better" in a real case.

If you both agree @mfederico  and @nicolabertoldi I'll proceed in this way:
* Update Interpolated

[2016-01-21 10:00] mfederico commented on #49
@davidecaroselli: sounds good!

[2016-01-21 10:49] ugermann commented on #58
Davide,

Moses has never accepted [v] as a parameter in the config file. You are in
charge of the wrapper, so you are the one who has to fix whatever writes
the moses.ini file.

- Uli

On Wed, Jan 20, 2016 at 12:15 PM, Davide Caroselli <notifications@github.com

--
Ulrich Germann
Senior Researcher
School of Informatics
University of Edinburgh

[2016-01-21 10:54] ugermann commented on #58
All it tales is to replace [v] by [verbose].

On Thu, Jan 21, 2016 at 10:49 AM, Ulrich Germann <ulrich.germann@gmail.com>
wrote:

--
Ulrich Germann
Senior Researcher
School of Informatics
University of Edinburgh

[2016-01-21 11:00] nicolabertoldi commented on #58
Hi Uli

just to know,
why "Moses has never accepted [v] as a parameter in the config file."

Is this true only for "v", or for all short-name parameters?

Nicola

On Jan 21, 2016, at 11:49 AM, Ulrich Germann wrote:

[2016-01-21 11:03] ugermann commented on #58
All short option names, as far a s I know. Short options are for
convenience for command line use. In a config file, explicitness is more
important than saving a few key strokes.

On Thu, Jan 21, 2016 at 11:00 AM, Nicola Bertoldi <notifications@github.com>
wrote:

--
Ulrich Germann
Senior Researcher
School of Informatics
University of Edinburgh

[2016-01-21 15:08] #48 closed

[2016-01-21 15:13] davidecaroselli commented on #57
I assume this bug has been fixed, if not please reopen the issue with new infos, thanks.

[2016-01-21 15:13] #57 closed

[2016-01-21 15:15] marcotrombetti commented on #56
I guess this has been solved by removing necessary rsync checks

[2016-01-21 15:20] davidecaroselli commented on #56
Let my commit close this issue, please :smile:

[2016-01-21 15:27] marcotrombetti commented on #30
At che end this is not a real issue. Closing...

[2016-01-21 15:27] #30 closed

[2016-01-21 15:31] #58 closed

[2016-01-21 15:32] davidecaroselli commented on #41
Currently not tested on Ubuntu 15.10. We will provide more instructions in INSTALL.md in the future.

[2016-01-21 15:32] #41 closed

[2016-01-21 15:47] #56 closed

[2016-01-21 17:33] nicolabertoldi commented on #49
@davidecaroselli
(Optional) normalization of the context weights
has been implemented in the new branch mmtdev_issue49

Currently only IRSTLM is able to enable the usage of normalized context weights

To do that, add the following parameter on the IRSTLM line  in the moses configuration file
"weight_normalization=yes"

Note that very little debugging was done; so report any strange behavior or err

[2016-01-21 18:41] davidecaroselli commented on #49
Hi ( @marcotrombetti @mfederico @nicolabertoldi @ugermann @cattoni )

I have included the last patch of Nicola to normalize CA weights for LM. Unfortunately the problem is not solved at all, it seems more deep. I've created a test that could replicate the bug and add some more details.

* Download pre-release of mmt 0.11.1 at http://labs.mmt.rocks/builds/mmt-0.11.1-SNAPSHOT_201601211918-ubuntu14_0

[2016-01-21 22:18] nicolabertoldi commented on #49
I fixed a bug
and now the standalone Moses )with your models) works as expected (see below).
All outputs of the normalized version are equal, while outputs of the un-normalized version differ.

I have not yet checked the MMT system.
I will do tomorrow.

I noticed that in the LM configuration file "default/data/lm/target.lm"
the pointed LM "all.alm" has no path.
Do you think this is correct?

cheer

[2016-01-21 23:58] davidecaroselli commented on #49
@nicolabertoldi you made a great job with very little time, what I tried to point out is the fact that the actual bug that this issue is about is still there. Even more: it does not depends on context weights normalization (test 4 is a totally new translation).

We made a guess of the cause of this bug, our tests suggest we were wrong. I need the collaboration of all of you to find out the real so

[2016-01-22 08:30] nicolabertoldi commented on #49
I tested     on  a FBK machine
I  am able to obtain expected results both with standalone Moses and with server-based Moses (XMLRPC version)
In this experiments I used directly the context weights without querying them to the context analizer

I did not try with the SNAPSHOT, because it does not include my last fixing of yesterday evening.
and I do not know how to create the library required by th

[2016-01-22 09:11] davidecaroselli commented on #49
I've recently updated the file INSTALL.md in the repo to include instructions to build MMT from sources, sorry I didn't mention it before.

When you say that you're able to obtain expected results, you mean that all the 5 translations I've reported, with the engine I've provided, are exactly the same right? I so, I would like to compare the Moses config.

[2016-01-22 10:16] davidecaroselli commented on #49
**Update**

I've included the last fix of @nicolabertoldi into MMT and the results is that:
[code]
Have the same translation (good!), but
[code]

Have different translation.
It appears now to be a *boolean* condition that changes the translation: there is context, or not. Actually Nicola has observed different scores for Phrase Tables, @ugermann have you any idea of the reason?

By the way, **we f

[2016-01-22 15:55] ugermann commented on #49
In order to investigate this I need access to the training data used, as
well as the word alignments, models and .ini files and the exact versions
(output of git describe in the respective repo) of the software used so
that I can replicate the system for debugging.

- Uli

On Fri, Jan 22, 2016 at 10:16 AM, Davide Caroselli <notifications@github.com

--
Ulrich Germann
Senior Researcher
School of In

[2016-01-22 16:04] nicolabertoldi commented on #49
Hi all,
after a bit of debugging to explain the strange behavior observed by marco and Davide
I found that random sampling behaves differently if context weights are specified or not.

No problem with ranked sampling

Assuming, we have just one training corpus (called "all")
it happens that the one of the scores provided by the SA differ in the two conditions (above)
Instead, there are no differen

[2016-01-22 16:12] nicolabertoldi commented on #49
second update
which confirms my previous mail"
- ranked sampling seems ok
- biased sampling behaves "wrongly"
- normalization of weights works always properly

Here are the outputs od different setting fo the input sentence "I like it"
with the weights provided by Davide

no context weights, biased sampling
BEST TRANSLATION: In un' interrogazione successiva , come , ne ha [111]  [total=-1.098] cor

[2016-01-22 16:53] ugermann commented on #49
In order to look into this, I really need to see ALL the data, ALL the
models, and the .ini files used, as well as the git commit hashes of all
the software involved.

- Uli

On Fri, Jan 22, 2016 at 4:12 PM, Nicola Bertoldi <notifications@github.com>
wrote:

--
Ulrich Germann
Senior Researcher
School of Informatics
University of Edinburgh

[2016-01-22 16:58] nicolabertoldi commented on #49
further NEGATIVE update

Always using ranked sampling and normalized context weights in LM.....

my previous experiments were done using this parameter "--max-partial-trans-opt 5", which should determine a smaller/larger amount of translation options

If I enlarge it (to 10), the difference re-appears again

without context weights
BEST TRANSLATION: In un' interrogazione successiva , non fa che [1

[2016-01-22 17:20] davidecaroselli commented on #49
@ugermann here's all the data involved and all the references you need:

Training data: [training.tar.gz](https://github.com/ModernMT/MMT/files/101164/training.tar.gz)
Engine models: [default.tar.gz](https://github.com/ModernMT/MMT/files/101165/default.tar.gz)

**MMT system**
*branch*: master
*commit*: latest (sha1: bd3906bf84116b3a61469fbfbb8d4029c904ee99)

**Moses lib**
*repo*: https://github.co

[2016-01-22 20:30] bhaddow commented on #49
@davidecaroselli the tuned weights for the phrase table look strange - it's unusual for them to be negative. I wonder if this is the reason why Moses is selecting bad translation options.

Could you post the tuning data set? I did not see it in either of the tarballs you posted. And do you have the intermediate files from the tuning run?

Having said that, the training data set is only 6000 parall

[2016-01-23 16:43] marcotrombetti commented on #49
Thanks all

We are making some progress finding other issues, but just to keep all people focused, our main problem for this threads is:

When passing or not passing the context on a single domain, the translation output must be the same.
**By design they have to be equal.**

We should solve that and move to the next.

@bhaddow good point, please open a separate issue for that. Unfortunately this

[2016-01-23 16:53] marcotrombetti opened #60 "API Readability Enhancement"
[code]

"translation" should be the first entry not the last one.

[2016-01-23 17:54] ugermann commented on #49
@bhaddow Good observation, but the training corpus for tracking this issue that Davide sent me (and that the logs appear to be based on) consists of only 6000 sentence pairs, which is great for debugging (easy to exchange and investigate data), but it will of course lead to a bad system (bad word alignments, and downhill from there). This explains some of the things that puzzled us yesterday when

[2016-01-23 17:55] marcotrombetti opened #61 "Simpler MMT Cluster without .pem"
1) Connecting using a .pem ile
Now
[code]
Should be
[code]

2) Connection without .pem

The default way to use the cluster should be with rsync as a server so the no .pem file is necessary and not warnings will be shown.

[2016-01-23 18:08] mfederico commented on #49
@bhaddow
I guess @marcotrombetti pointed out more a behavioural rather than performance issue.
So a very small data set is optimal to track and fix the problem. Hence, the
output can be totally wrong but it should deterministically be the same with
and without context.

[2016-01-23 20:18] marcotrombetti opened #62 "Cluster Start Error during Tuning"
If I try to start a new node when a tuning is already running on the master I have this message:

[code]

[code]

[2016-01-23 21:11] ugermann opened #63 "INSTALL.md: installing Java 8 will not make it the default"
`apt-get install openjdk-8-jdk` will not make Java 8 the default. MMT will compile but then crash when one tries to actually use it, complaining about the wrong Java version. If MMT compiles with Java 7, why do we need Java 8? Are there bugs in Java 7?

Actions required:
- update instructions
- check Java version prior to compilation to provide early feedback

[2016-01-23 21:19] ugermann opened #64 "MMT should be installable in user space"
Not all developers have root privileges on their local system. Like Moses, MMT should be installable entirely in user space, provided that standard development tools for the platform in question are installed.
Why do we need software versions so new that they are not available through the standard package managers (e.g., cmake 3.0 instead of cmake 2.8; Java 8 instead of Java 7)? Why do they have t

[2016-01-23 22:59] marcotrombetti commented on #64
Added to release 0.13

Today the focus is Ubuntu 14.04
In releasee 0.12 we should have all components more solid.
In 0.13, if the solution is solid, we make it multi platform and with less dependancies.

[2016-01-23 23:00] marcotrombetti commented on #63
@ugermann which OS are you using?

[2016-01-23 23:03] ugermann commented on #63
Ubuntu 14.04. If openjdk-7-jdk is already installed, this will be kept as
the the default.

On Sat, Jan 23, 2016 at 11:00 PM, Marco Trombetti <notifications@github.com>
wrote:

--
Ulrich Germann
Senior Researcher
School of Informatics
University of Edinburgh

[2016-01-23 23:38] ugermann opened #65 "Docker - Can't get translations after building and starting"
This pertains to commit 4af1dbab4595e65ba0d0ef6dbb9803645792360e

On a brand-new MMT instance:

[code]

gives

[code]

[code]

tells us
[code]

but
[code]

then leads to
[code]

# To replicate
1. Install docker if necessary (https://docs.docker.com/engine/installation/ubuntulinux/)
2. `git clone https://github.com/ModernMT/docker.git`
3. `docker build -t mmt docker/Development`
4. `docker run --na

[2016-01-24 00:08] davidecaroselli commented on #60
This is impossible. The "translation" is a key of a JSON Object. Keys in json object simply has no order. The order in which they are printed depends on specific implementation of JSON libraries used.

Never ever a client should make any assumption on the order of the keys in a JSON object.

[2016-01-24 00:08] #60 closed

[2016-01-24 00:15] davidecaroselli commented on #49
Let me try to explain things a little bit.
@bhaddow and @ugermann the data you're using and the weights chosen has been created only with one purpose: point out this bug. As @mfederico said, we are not talking about quality of translations: they're awful, we expected that. The problem is that the same exact system is performing in two different ways when it shouldn't. The presence of the context s

[2016-01-24 00:23] davidecaroselli commented on #65
Do this problem appears only with docker? Because this release has not been tested in that condition and the result is currently unpredictable.

Another thing, looking at your commands:
[code]

Quite strange that this command executes without problems: path to training corpora is missing, it should be something like:
[code]

could you please report the output of the command:

[code]

thank you!

[2016-01-24 00:42] ugermann commented on #65
The missing path was an omission in the bug report. The bug report has been updated accordingly.
I'm quite certain that this has nothing to do with Docker. On the contrary, Docker ensures that I'm testing everything from scratch. I have no other way of testing things as we are still running Ubuntu 12.04 on our machines and this release insists on Ubuntu 14.04.

[2016-01-24 08:40] marcotrombetti commented on #65
A few hypothesis:

1) It may be connected to #44
Try killing manually the previous processes that may be still running.

2) Port 5016 may be used by a Docker service.
try using another port using  --cluster-ports

*Last and more probable:*
We never tested MMT on Docker. MMT 0.11 is designed for a standard Ubuntu 14.04.
At been tested on AWS and on VirtualBox installing Ubuntu 14.04.
In release 0.1

[2016-01-24 20:05] marcotrombetti commented on #63
@davidecaroselli this is relevant for  0.11.1
I have increased priority and added to milestone.

[2016-01-24 21:21] ugermann opened #66 "MMT fails to stop all threads of an engine when one thread crashes"
If a thread crashes, MMT doesn't notice that.

Details

1. Create engine
[code]

2. Add bogus parameter to IRSTLM that will cause Moses to throw an exception and crash
[code]

3. Start engine
[code]

4. Lookin' good:
[code]

5. Let's translate
[code]

6. Hmm, what happend?
[code]
  Looks like two processes are still running. Therefore:

7. Ports are still blocked, because some processes are still

[2016-01-24 21:35] ugermann opened #67 "INSTALL.md out of sync with MMT requirements"
MMT requires Moses branch mmt-dev_issue49 due to changes in IRSTLM   (added parameter weight_normalization=yes in IRSTLM line of moses.ini), but INSTALL.md still tells people to use mmt-dev.

[2016-01-24 21:38] ugermann opened #68 "mosesdecoder be git submodule to MMT"
.. so that developers don't need to figure out which version of one plays nicely with which version of the other.

[2016-01-24 21:39] marcotrombetti commented on #67
@ugermann feel free to to edit the file. You can do it directly in the GitHub UI.

If you are not a contributor yet, @davidecaroselli will add you

[2016-01-25 02:34] ugermann commented on #49
Fixed now in branch mmt-dev_issue49, hopefully.

On Sun, Jan 24, 2016 at 12:15 AM, Davide Caroselli <notifications@github.com

--
Ulrich Germann
Senior Researcher
School of Informatics
University of Edinburgh

[2016-01-25 09:01] davidecaroselli commented on #67
@ugermann you're right, if the fix of issue 49 is completed, please merge it to branch "mmt-dev". The official branch of mmt is "mmt-dev", so the INSTALL.md should not be changed. Thanks for the tip!

[2016-01-25 09:01] #67 closed

[2016-01-25 09:13] davidecaroselli commented on #67
@ugermann since there was no conflicts, I've done the merge and pushed to mosesdecoder repo. Now everything should work as expected.

[2016-01-25 09:17] davidecaroselli commented on #68
Hi Uli,
you're right, even IRSTLM should be a submodule. The reason why this has not been done is that, during the next CoDev in Trento, one of the goals is to unify all the source code of MMT inside one repo (MMT).

While what you're saying is correct, we accepted this little friction between the two/three projects because is really a temporary state, and we're going to solve it really soon.

I c

[2016-01-25 09:17] #68 closed

[2016-01-25 09:25] davidecaroselli commented on #66
I see at least two MMT problems:
* MMT should be "fail fast" in this case, MMT should recognize wrong initialization parameters during start command while, at this moment, I'm adopting a lazy load policy. I'll fix this initializing Moses as soon as the moses.ini has been generated.
* Secondly if the process crashes, it hangs up instead of die. This seems related to issue #44. I'll work on that.

T

[2016-01-25 09:50] davidecaroselli commented on #49
Hi @ugermann, unfortunately the bug seems unresolved yet.
I've compiled new version of moses with you're last commit https://github.com/ModernMT/mosesdecoder/commit/2bab48c9107af08d7795b35b6e5db8f0b45b005b
Then I've setup and engine with the data I've provided, the output of these 2 commands should be equal:

[code]

If you're not observing this problem anymore, could you please provide me instruc

[2016-01-25 10:08] #63 closed

[2016-01-25 10:10] davidecaroselli commented on #53
If I've understood well, what you're saying is that MMT is not broken in the sense that it crashes if you put char " **`** ". You're suggesting to add a step before tokenization that normalizes rare characters in order to maximize recall, correct?

[2016-01-25 10:46] #66 closed

[2016-01-26 11:20] #44 closed

[2016-01-26 13:24] davidecaroselli commented on #62
This has been solved by commit https://github.com/ModernMT/MMT/commit/08ce9b2e134fd1be33ce3cb18f33601dff99f65a.

I've tested this condition and now works as expected: the new node start translating and the results are correctly sent to master instance.

[2016-01-26 13:24] #62 closed

[2016-01-26 13:33] davidecaroselli commented on #28
I'm closing this discussion because the proposed solution has been already presented on issue #43 as @marcotrombetti suggested. Please refer to that issue for further discussions.

[2016-01-26 13:33] #28 closed

[2016-01-27 14:48] davidecaroselli commented on #29
I've run some really interesting tests for the new MMT TextProcessing framework. Here I present the result of different versions of tokenizers on a **single english document with 83M words**.
* Standard Moses pipeline: **19m 59s**
* MMT Tokenizer v0.11: **14m 56s**
* MMT Tokenizer v0.12: **13m 25s**

So with the last version of the tokenizer we gain **10% in speed**.
But now things start to become

[2016-01-27 15:03] mfederico commented on #29
Hi Davide,

what about training and testing MMT with the faster tokenizer?

Marcello

[2016-01-27 15:31] davidecaroselli commented on #29
Hi Marcello,
If you want to test MMT Tokenizer v0.12, I've just created a pre-release here: http://labs.mmt.rocks/builds/mmt-0.12-SNAPSHOT_201601271619-ubuntu14_04.tar.gz

[2016-01-27 22:45] marcotrombetti commented on #53
@davidecaroselli yes, those chars create sparsity.

[2016-02-04 00:55] ugermann commented on #49
Try branch **mmt-merge** from mosesdecoder repo. At least for the toy system you sent me, results now seem consistent. Related to problems with apparent deterioration of results with ranked sampling, I had to spend a considerable amount of effort rolling back the changes that were made by FBK in an effort to force parameter changes into moses at runtime during batch decoding via DLT, which broke t

[2016-02-04 00:56] ugermann commented on #49
Didn't mean to close the issue before the fix is confirmed.

[2016-02-04 08:20] nicolabertoldi commented on #49
Hi Uli

Could you please clarify which changes you did to ensure that sampling without passing context weights is identical to sampling passing context-weights equal to 1.0 in the case of one single domain?
I would like to understand which error I made, to avoid to repeat again in the future.

If I well understood (but I hope I didn't), you completed remove the possibility of changing (lm-)context

[2016-02-04 08:41] davidecaroselli commented on #49
@nicolabertoldi you're saying that the changes broke in some way the InterpoledIRSTLM correct functioning? Or is it just a matter of different design choices?

@ugermann do the changes made to the IRSTLM-Moses connector are necessary for the SA-problem fix? If not, is it possible to rollback to previous working version of this component?

Please note also that batch operation is not something MMT

[2016-02-04 08:53] nicolabertoldi commented on #49
On Feb 4, 2016, at 9:41 AM, Davide Caroselli wrote:

I have to wait some feedback from Uli in ordert to answer you

I agree that batch translation  is not crucial for MMT, but consider that:
- it can speed up experimentation
- it could speed tuning if  done without the client-server infrastructure
- actually, also in MMT one could think of having a batch version of the system for specific purposes

[2016-02-04 09:20] davidecaroselli commented on #49
@nicolabertoldi ok then, @ugermann can we solve this aspect as soon as possible?

Regarding batch version of Moses, please consider that we've already succeed in speeding up tuning time by a factor of N with the distributed infrastructure, where N is the number of connected machine so currently batch Moses is not a part of MMT.

[2016-02-05 15:26] nicolabertoldi commented on #49
Using the code of moses from
https://github.com/ModernMT/mosesdecoder.git
branch mmt-merge
commit: c41eda494c0554a337925b462fcdf6fce5cf464a

Using the code of moses-submoduule from
https://github.com/ModernMT/moses-submodule
branch: master
commit: 1cf64e697edd55aa3f110253183d54e19f23fa19

Using the data prepared time ago by Marco ("default.tar.gz) which includes just one domain (called all)
Using

[2016-02-05 15:53] nicolabertoldi commented on #49
investigating deeper in the issue #49...

I translated the same sentence "I like it"
without passing any weight and passing the context string "president"

and I looked into the logs (verbose=3)  (in attachment)

and I  noticed that       (il numero iniziale indica la riga all'interno del rispettivo log)
1)
InitializeForInput   gives different scores; small differences but due to what?  what are e

[2016-02-11 11:28] nicolabertoldi opened #69 "add engine name in the suggested command"
I would suggest to add the name of the engine in the string which suggests how to use the system at the end of the training procedure, especially when the default name is not used (-e _engine_name_)

./mmt start|status|stop   -e _engine_name_

Nicola

[2016-02-11 11:32] nicolabertoldi opened #70 "add weights in the engine.ini after the training"
I would suggest to add feature weights in the engine.ini immediately after the creation of the engine.

These feature weights could be "flat", or already "optimised" somewhere else.

[2016-02-16 13:26] ugermann commented on #49
As far as I can tell, this last issue is fixed by commit 2ed99f94832686191e8a495f66f1e5a48e1138e3 (branch mmt-merge).

[2016-02-16 19:06] nicolabertoldi opened #71 "Moses does not use tcmalloc"
It seems that using the current installation instruction (on Ubuntu 14.04)
the current version of moses (branch: mmt-dev) does not compile with  tcmalloc library

$> bjam .....
XMLRPC-C: USING VERSION 1.39.7 FROM /usr/local
Tip: install tcmalloc for faster threading.  See BUILD-INSTRUCTIONS.txt for more information.

I was able to "fix" the problem by installing the package "libgoogle-perftools-de

[2016-02-17 08:25] davidecaroselli commented on #71
Done, thank you Nicola!

[2016-02-17 08:25] #71 closed

[2016-02-17 09:54] ugermann commented on #71
If that was the version used for the speed comparison, that could account
for some of the speed difference that Nicola observed.

- Uli

On Wed, Feb 17, 2016 at 9:25 AM, Davide Caroselli <notifications@github.com>
wrote:

--
Ulrich Germann
Senior Researcher
School of Informatics
University of Edinburgh

[2016-02-18 13:52] cidermole opened #72 "Broken context adaptation for subsequent documents due to missing session handling"
As just discussed with @davidecaroselli the current MMT version uses only a single moses session. Because the phrase cache in the moses sampling phrasetable is associated with a session, this means that after changing the context weights, e.g. for a new document in a different domain, moses will still use the old, cached phrases sampled with the old context.

Instead, each context ("domain", or "d

[2016-02-18 15:04] cidermole commented on #72
Sorry folks, false alarm. Just clarified this together with Uli, and it works as expected from the MMT API side, as currently implemented (implicit session ID 0, which throws away the cache after each translation).

E.g. if you send off queries

* "http://localhost:8045/translate?q=this+is+a+simple+test+sentence+with+quite+some+words.&context=computer"
* "http://localhost:8045/translate?q=this+is+

[2016-02-18 15:04] #72 closed

[2016-02-18 19:01] marcotrombetti opened #73 "Evaluate - Too Verbose Exception if server down"
If the server is down the the error message should be less invasive.

Now
[code]

Should be
[code]

[2016-02-18 19:27] marcotrombetti opened #74 "BLEU Score Calculation Bug?"
With 0.12

The numbers I see do not make a lot sense.
If it possible that there is a BLEU score calculation error? detokenization?

[code]

[2016-02-18 19:56] marcotrombetti opened #75 "Tuning Fail in 0.12"
On the default engine.

Please note the BLEU to 0

[code]

cat runtime/default/slave/moses.ini
[code]

[2016-02-18 20:11] marcotrombetti opened #76 "Evaluate Slow - with Low CPU usage"
Evaluating 500 sentences on a 1M words corpus took

Google Translate takes few tens of second and MMT took the rest using only 3-4 CPU of the 36 available.

21:04

CPU usage was very low:
[code]

Sometime the CPU was almost at 0%
[code]

[2016-02-19 07:45] marcotrombetti opened #77 "./mmt start - Synchronizing models"
Why is I start mmt on a **master** it says **Synchronizing models**?

[code]

[2016-02-19 08:54] davidecaroselli commented on #77
Every time you launch MMT, a master process and a slave process is launched.
You're seeing the slave processes saying that everything is up-to-date with its models.

[2016-02-19 08:54] #77 closed

[2016-02-19 10:19] marcotrombetti commented on #74
Here a few possible bugs identified:

To reproduce
[code]

*1 - Encoded Translations*
Google json output has not been decoded. see for example &#39;
[code]

*2 - Non Uniform Tokenization across engines.*

Is it normal they MMT and GT are detokenized and input is not? Even if the calculation is correct we should log what we actually compare.

[code]

*3 - Edit Distance for translation scoring sucks

[2016-02-20 08:20] marcotrombetti commented on #70
From the description I don't understand to who I should assign the task.

@nicolabertoldi can you assign it to the right person?

[2016-02-20 08:23] marcotrombetti commented on #69
Uprooted.

Closing since it is a replica of #51

[2016-02-20 08:23] #69 closed

[2016-02-20 08:26] marcotrombetti commented on #29
@davidecaroselli does this release include also lucene-based **detokenizer** or still has the Moses perl detokenizers?

[2016-02-20 10:56] marcotrombetti opened #78 "Testing - Generalize Testing"
I reviewed the Test.md in the testing branch.

Before writing my recommendation I would like to ask some questions that I had as a user at first glance:

- I want to write a test in python to test the integration of the full chain.
create engine, start, translate, evaluate, stop with a fixed dataset. I don't understand  how to do it. Can you please change the documentation so that it is more clear

[2016-02-20 11:47] marcotrombetti opened #79 "Evaluate - GT Key params not supported"
As by documentation I typed the gt-key but I got the following error:
[code]

The help does not mention the parameter:
[code]

[2016-02-20 12:08] marcotrombetti opened #80 "Evaluate - Decrease GT Speed"
GT has a per user limit of 10.000 bytes per 100 seconds.
Circa 1 sentence per second which is too slow for our purpose

So I always get this error:
[code]

This functionality is designed by Google to prevent a single end-user to abuse.
It does not make sense in a server-to-server configuration.

In order to solve I suggest that we simulate what we do in MyMemory and Matecat (I think we pass a end

[2016-02-21 19:03] nicolabertoldi commented on #70
Davide is the right person
I assign the issue to him

[2016-02-21 19:07] nicolabertoldi commented on #75
if you provide the logs of master and slaves I can give a look to see what actually fails (Moses? mert script, other?)

[2016-02-21 19:09] nicolabertoldi commented on #76
I think this issue is related to the fact that Moses takes very long to load the data the first time it starts .

[2016-02-23 10:59] davidecaroselli commented on #43
Fully implemented. The code is currently in develop as well as master branch

[2016-02-23 10:59] #43 closed

[2016-02-23 11:00] davidecaroselli commented on #29
New JFlex Tokenizer is now default tokenizer (20x faster than Moses Perl one).
The Detokenizer is still the one from moses.

[2016-02-23 11:00] #29 closed

[2016-02-23 11:09] davidecaroselli commented on #65
As discussed with @ugermann this was an issue with start/stop commands and was not related to docker. The bug was in fact the same as Issue #44 that has been solved.

[2016-02-23 11:09] #65 closed

[2016-02-23 11:13] davidecaroselli commented on #75
The problem has been solved with commit https://github.com/ModernMT/MMT/commit/046f3caa8cd6da7423dfe1fade5f368903736eb5 .

There was a problem with the NBest List (empty string).

[2016-02-23 11:13] #75 closed

[2016-02-23 11:24] davidecaroselli commented on #76
This bug was related to a problem with the engine that crashed during the execution (that's why CPU was almost 0). With the latest commits I've fixed several bugs, so I'm going to close this issue.

If you find the engine to crash again on some input, please report the problematic condition in an had-hoc bug report.

Thanks for your help!

[2016-02-23 11:24] #76 closed

[2016-02-23 11:44] davidecaroselli commented on #80
I've found in the  Google FAQs https://cloud.google.com/translate/v2/faq#technical that the problem seems to be related to a limit set in the API Key configuration.

I'll assign @luca-mastrostefano to this task for now.

[2016-02-23 13:24] davidecaroselli commented on #79
Added this option to 'evaluate' command. Just forgot to add the option to the CLI interface.
Thanks for pointing it out!

[2016-02-23 13:24] #79 closed

[2016-02-23 13:36] #73 closed

[2016-02-23 14:03] davidecaroselli commented on #49
This issue has been fixed with the latest mosesdecoder commit https://github.com/ModernMT/mosesdecoder/commit/ed1910bcce8bed92b06d6f3c939ccad4ec78cb06 on branch mmt-dev.

Thanks to all for your collaboration.

[2016-02-23 14:03] #49 closed

[2016-02-23 14:08] davidecaroselli commented on #49
As confirmed by @ugermann the fix consist in changing the way the decoder works when a single domain is present: if the SA detect there's only one single domain in the index, it will ignore any provided context-weights.

[2016-02-23 14:24] davidecaroselli commented on #52
I've changed the title because what we're going to do is to add the --resume flag to the 'create' command. The option '-s' works in a totally different way. I suggest to point out in the help message that '-s' is used basically for debug, or very advanced, purpose.

[2016-02-23 14:25] davidecaroselli commented on #52
(sorry, I didn't mean to close it!)

[2016-02-23 15:16] #53 closed

[2016-02-24 10:53] nicolabertoldi opened #81 "jobs do not properly die if config file is missing"
if the configuration file (engines/data-40d/models/moses.ini) does not exist
- the mmt does not start (obviuolsy)
- in the slave log the error message is reported (zee below),
- but one of the java processes surivives;
$> ps -ef | grep ubuntu
java -cp /home/ubuntu/ModernMT/build/mmt-0.11.1.jar -Dmmt.home=/home/ubuntu/ModernMT -Djava.library.path=/home/ubuntu/ModernMT/build eu.modernmt.cli.SlaveNod

[2016-02-25 08:38] marcotrombetti opened #82 "Wrong Error Message - Create with wrong languages"
If I have EN-IT data and I type
[code]

It will crash instead of providing the message

[code]

[2016-02-25 11:28] davidecaroselli commented on #80
I've reduced the concurrency of GT requests, now we request at most 2 queries at the same time. From my tests this seems to resolve the issue, if not, please, reopen the issue. Thanks.

[2016-02-25 11:28] #80 closed

[2016-02-25 13:21] davidecaroselli commented on #35
This feature has been introduced with this commit: https://github.com/ModernMT/MMT/commit/d0478428c8234acbe75f545bcf08ef1f691f5bec

You can find it in the develop branch right now, it will be released with version 0.12 as expected.

[2016-02-25 13:21] #35 closed

[2016-02-25 15:34] marcotrombetti opened #83 "Evaluate - Sometime it never ends"
To reproduce:

- Train the example engine on a **new** (just rebooted) machine with high number of cores (eg. c4.8xlarge)
- run ./mmt start
- run ./mmt evaluate

In most cases it will never end.

If I run ./mmt evaluate multiple time it may start working.

[2016-02-25 19:56] davidecaroselli commented on #83
As a preliminary results, we found that changing this line https://github.com/ModernMT/MMT/blob/master/scripts/evaluation.py#L71 using only one thread:

[code]

has solved the problem. Also skipping Moses call for translation seems to resolve the issue. We need to indagate more accurately so discover from which side it comes the bug (core part or moses decoder).

[2016-02-25 20:13] marcotrombetti opened #84 "Create Stall during pre-processing"
The Java process stays forever is state Sl
[code]

[code]

[2016-02-26 08:34] marcotrombetti opened #85 "Evaluate - How many sententes for test?"
Please explain here the rules for determining the number of sentenses in the test set given the copus size.

I will add this to the documentation.

For a 6000 sentences corpus it gives me a 30 sentences
For a 100.000 sentences corpus it gives me a 30 sentences
For a 100M sentences corpus it gives me a 1200 sentences

[2016-02-26 08:36] marcotrombetti opened #86 "translated.py - crash start without parameters"
[code]

[2016-02-26 08:57] marcotrombetti opened #87 "New Logs Desgin - Discussion"
We all agree that the initial logging is not ideal and we want to change it soon in order to allow people to run their test and contribute more to the project.

Here my suggestion:

[code]

**structure**
logs (not runtime)
  -> engine_name
        -> api
        -> training
        -> tuning
        -> evaluate

For the user dividing between master and slave does not make to much sense.

[2016-02-26 10:32] #84 closed

[2016-02-26 11:49] marcotrombetti commented on #78
After a few discussion (Marcello, Marco, Luca, Davide) we decided to assign this to a future sprint.

Adding @cattoni to the discussion.

[2016-02-26 12:01] marcotrombetti commented on #87
After discussions this will go to a future release. @davidecaroselli will reserve some time to add basic logging next week.

[2016-02-26 13:17] #86 closed

[2016-02-26 14:09] marcotrombetti commented on #85
Closing after email discussion.
Small fix (floor) expected for 0.12

Readme.md updated.

[2016-02-26 14:09] #85 closed

[2016-02-27 10:35] marcotrombetti commented on #83
Bug solved by @davidecaroselli . was a tokenizer non-managed exception.

[2016-02-27 10:35] #83 closed

[2016-02-27 10:37] marcotrombetti commented on #74
1 and Human A/B have been addressed.

@davidecaroselli can you comment on point 2?

[2016-02-27 10:41] marcotrombetti commented on #52
@davidecaroselli I agree and moving to 0.13

[2016-02-27 10:48] nicolabertoldi opened #88 "failure in case of empty input"
example: echo "" | ./extras/translate

Traceback (most recent call last):
  File "./extras/translate", line 234, in <module>
    exitcode = main()
  File "./extras/translate", line 208, in main
    executor.execute(line.strip())
  File "./extras/translate", line 139, in execute
    translation = self._translate(line)
  File "./extras/translate", line 68, in _translate
    return self.api.translate

[2016-02-27 10:51] nicolabertoldi commented on #88
The problem has been resolved in the branch empty_translation

@davidecaroselli   Could you please check if my solution is fine?  If yes, you can also merge into develop, and close the issue

[2016-02-27 10:53] nicolabertoldi commented on #88
Still to decide the best heuristic for tags in case of empty input text

[2016-02-28 00:26] marcotrombetti opened #89 "Tuning - Slow with Low CPU Usage"
During tuning of the the dataset "Benchmark 1" the CPU ranged from long periods being 0 to other were I have seen it using 90% of the available CPU.

Unfortunately the time in witch the CPU was almost zero were the majority.

To reproduce please log into my machine.

[2016-02-28 07:33] marcotrombetti commented on #89
Update.

Cluster of 6 c4.4xlarge machines, 1195 sentences.
After 6,5 hours it is still at Run7.

Most of the time if CPU has been at 0% (note: including the master)
During some moments it was at ~15% total
Very rarely it was at ~90% total

**This may be critical for the co-development tests**

Master
[code]

Slave 1
[code]

Slave 2
[code]

Few minutes after:

Master
[code]

Slave 1
[code]

Slave 2

[2016-02-28 08:23] marcotrombetti opened #90 "Evaluate - New output format"
As discussed and promised here is the new output format for evaluate.
Cleaner and aligned with measuring the goals for the user:
- Better than Google Translate?
- Fast enough?

Before
[code]

Should be
[code]

[2016-02-28 09:47] marcotrombetti commented on #90
Sorry, forgot this:
Matecat Post-Editing Effort: -> Matecat Post-Editing Score:

[2016-02-28 09:53] marcotrombetti commented on #89
Same thing apply to evaluate.

[2016-02-28 10:10] marcotrombetti opened #91 "Evaluate - tmp folder deleted by the tuning process"
I was running a tuning and an evaluate on the same engine.

When tuning completed it deleted the evaluate tmp folder while it should have deleted the tune folder only.

[code]

[2016-02-28 21:19] marcotrombetti opened #92 "Evaluate - Tokenization Standardization"
The log of the evaluation has different tokenization for the different resources.
Not sure if this affect the score calculation but is better to fix it.

[code]

[2016-02-28 21:39] marcotrombetti commented on #92
Also check apps management for Google. Maybe spaces are not managed.
[code]

[2016-02-28 21:53] nicolabertoldi commented on #92
The tokenization of GT
"E 'possibile...."
seems   that performed for English
Sure that the api was qeried for the correct languages?

[2016-02-28 22:23] marcotrombetti commented on #92
@nicolabertoldi I think is a bug we introduced recently trying to manage '&apos'.

[2016-02-28 23:02] marcotrombetti opened #93 "Evaluate - Performance and Threads"
On a 36 cores machine (c4.8xlarge) I cannot get more than 50% of CPU used during evaluate. (1500%)
I tried different parameters in

scripts/evaluation.py
[code]

[2016-02-29 08:41] nicolabertoldi opened #94 "tokenizer's bad behaviour with "embedded" tags"
Tokenizer has problem with embedded tags like the following (see below)
which contains well-formed tags like <PARAM NAME="_ExtentY" VALUE="714">)
inside

Note that the corpus   TagBenchmark-v0.2, there are a few of them

The internal tags are well-managed, while the external are not.

Here an example:
The tokenized and tag-stripped output is
Monitor TRS < ! --METADATA TYPE = " DesignerControl " st

[2016-02-29 08:45] nicolabertoldi opened #95 "Tokenizer tokenizes the underscore"
I do not know if this is the chosen policy,
so I labelled both as bug and enhancement

Input:     the folder     WKS_Migration
Output:     the folder     WKS  _   Migration

[2016-02-29 09:00] nicolabertoldi opened #96 "Tokenizer: what to do with these very hard examples?"
Very hard examples from TagBenchmark-v0.2

[code]

[code]

[code]

[2016-02-29 10:18] cattoni commented on #94
Actually the reported example is not a tag: it is a XML comment that has the syntax
OPEN CHAR* CLOSE where
OPEN ::= ""

I think comments should be managed in the same way of self-closing tags.

[2016-02-29 10:58] davidecaroselli commented on #89
While I'll work on a better load balancing, the last post is not a bug:

**Why Sl?**
Sl+ state does not mean deadlock, it means the process is waiting for event. During evaluate I also query Google Translate so it's perfectly fine to have a step in which CPU usage is almost 0, and the process spending the time to wait for an event (GT response) to occur.

**Why detokenizer.perl process?**
This pro

[2016-02-29 11:36] davidecaroselli opened #97 "Invalid scripts in extras folder"
I've found some invalid scripts in folder called "extras". These scripts cannot be added to master branch, and cannot be accepted in MMT because they cannot be run anywhere except a very specific setup: the scripts contains hard-coded paths and files, so nobody can actually run them without getting an error.

If this scripts are useful for the entire MMT community/project, please consider rewritin

[2016-02-29 13:48] #90 closed

[2016-02-29 14:14] davidecaroselli commented on #74
Regarding point 2, I checked and I confirm that the files are correctly generated and used. In the example in fact:

* All files **<name>.tok.it** contain the right **tokenized translation**, or reference
* All files **<name>.it** contain the right **untokenized translation**

BLEU score is calculated on <name>.tok.it files, while Matecat post editing score on <name>.it files.
I don't know how you

[2016-02-29 14:14] #74 closed

[2016-02-29 14:41] davidecaroselli commented on #92
Actually, this is the exact output of Google Translate:
<img width="1243" alt="schermata 2016-02-29 alle 15 39 51" src="https://cloud.githubusercontent.com/assets/1674891/13397554/c8fcdf94-defa-11e5-9f98-fb0ef349468d.png">

So the output is consistent with the real translation GT has provided.

[2016-02-29 14:41] #92 closed

[2016-02-29 15:00] davidecaroselli commented on #92
Regarding the first post, that is a different problem, it seems that the input corpora (or maybe only the sentence) was already tokenized.

In addition, please be sure to look at the right file "reference.it" and not "reference.tok.it".

[2016-02-29 15:11] davidecaroselli commented on #87
This task has been scheduled for this sprint (02/29 to 03/04). Basic logging will be available at the end of this week.

[2016-02-29 15:11] #87 closed

[2016-02-29 17:49] davidecaroselli commented on #94
After a discussion with @nicolabertoldi we decided that the best solution is to consider "" its closing tag. All inside should be parsed and translated as normal: other tags are  considered tags, while words are considered text to translate.

Here's an example on how it should work:
* **input**: ``
* **output**: ``

We found a bunch of these examples in the benchmark-v1.0. @mfederico @marcotrombet

[2016-03-01 00:42] marcotrombetti commented on #97
OK. I added a Usage and some parameters and committed again in the develop branch.

[2016-03-01 00:42] #97 closed

[2016-03-01 00:44] marcotrombetti commented on #96
@nicolabertoldi Why not simply removing double spaces?

[2016-03-01 00:46] marcotrombetti commented on #94
good for me

[2016-03-01 06:52] marcotrombetti commented on #89
OK for detokenizer.

To clarify:
for Sl, the effect is that it will stay in that state forever in most cases. So maybe is not technically a deadlock but the effect is the same.

Evaluate did 48 translations in 6 hours on a single machine, so it's not a better load balancing that we need, I think it is just broken.

To reproduce, log into my machine and run
[code]

[2016-03-01 11:27] davidecaroselli commented on #94
Added this feature with commit https://github.com/ModernMT/MMT/commit/e5fc8cf15f371f168a531bfb1f39a7f42286c2f5

[2016-03-01 11:27] #94 closed

[2016-03-01 12:59] davidecaroselli commented on #95
I'm going to change this behavior next week in order to keep the tokenization stable for this week tests

[2016-03-01 14:02] #88 closed

[2016-03-01 15:43] #70 closed

[2016-03-01 15:48] davidecaroselli commented on #91
Starting from commit https://github.com/ModernMT/MMT/commit/677aea83bd1119c4113c27d55f66819bdcac2d2b you can safely collect the translations and the references of an 'evaluate' command using:

[code]

Please use those files to run scripts or evaluations. Temporary files can change unexpectedly and, as temporary files, they can be deleted as needed.

[2016-03-01 15:48] #91 closed

[2016-03-02 08:15] nicolabertoldi commented on #52
My two cents as developer

It could be useful in the development phase
having the possibility to store the processed files created at the end of each training steps
so that we can re-use them for next steps, without re-running the previous

This is my case  for instance:
I need to create different staticLM (step ‘static_lm’) with different settings
but I do not need to re-preprocess all data

So I

[2016-03-03 10:47] luca-mastrostefano opened #98 "Can't create an engine specifying the steps"
It seems that it is not possible to specify a step during the creation of an engine:

`./mmt create -s tokenize en it examples/data/train/`

Output:

                  [--cleaner.max MAX] [--cleaner.ratio RATIO]
                  [--cleaner.min MIN] [--context.index_lang INDEX_LANG]
                  [--suffixarrays.sample SAMPLE] [--lm.order ORDER]
                  [--moses.cube_pruning_pop_limi

[2016-03-03 10:50] luca-mastrostefano commented on #98
I'm debugging. If you have any advice please tell me.

[2016-03-03 10:56] davidecaroselli commented on #98
Ok, I think I find out where is the problem, can you please try to specify "-s tokenize" at the end of the command arguments?

[2016-03-03 11:17] davidecaroselli commented on #89
With the latest commit https://github.com/ModernMT/MMT/commit/6e886b5e5a667828abd1e3cfb4051c9ebc756a55 tuning is now faster because it can also translate different documents in parallel.

The previous implementation translated one document at time; translations were made in parallel but in the case we have very small documents (1 sentence) the parallelism was really poor.

This new implementation

[2016-03-03 16:14] mfederico opened #99 "De-tokenizer"
By running mmt on the sample benchmark I noticed several issues on the de-tokeniser:
- & gt;    spurious space introduced between "&" and "gt;"
- 445/ 00  spurious space introduced after "/"

[2016-03-03 16:18] luca-mastrostefano opened #100 "Delete engine command"
It would be very useful to have the delete command that takes an engine name as argument and simply checks if the specified engine is stopped and, if it is stopped, then deletes it from the engines directory under ModernMT.

Example:
`./mmt delete -e <ENGINE_NAME>`

NB: When the integration tests run, it is very common that new engines are created for a specific purpose.

[2016-03-03 18:22] luca-mastrostefano commented on #78
create engine, start, translate, evaluate, stop with a fixed dataset. I don't understand how to do it. Can you please change the documentation so that it is more clear how to do it and that I am pushed to do it?

I have changed the documentation in order to better explain the new test infrastructure.
It is located here: [TEST.md](https://github.com/ModernMT/MMT/blob/develop/TEST.md)
Can you please

[2016-03-03 18:22] #78 closed

[2016-03-04 08:19] nicolabertoldi opened #101 "synchronization in a distributed environment: what about Symbolic links"
Let us assume that an engine on the master sets its models using symbolic links to other engine's models or to other not official paths. like

engines/defaults/models/phrase_tables   ->     /home/ubuntu/ModernMT/engines/b1/models/phrase_tables

This works fine with a slave running on the same machine

Let us assume I used a second slave on a different machine.
I noticed that in the synchonization

[2016-03-04 17:33] davidecaroselli opened #102 "Tuning - Wrong reference during tuning"
I've checked the current behavior of the tuning algorithm, and I found a bug.
The reference used during tuning is tokenized, tags are correctly stripped, but numbers are not replaced with placeholders.

@mfederico @nicolabertoldi @cattoni @marcotrombetti @cattoni

[2016-03-04 18:07] #102 closed

[2016-03-04 18:31] davidecaroselli commented on #102
Tuning made with today builds have this problems (I've merged the placeholders features yesterday night).

The fix of this bug has been pushed to develop branch right now. I'm running a tuning right now on an engine trained on benchmark 1.0.
The engine has all the features developed during sprint 3.

[2016-03-05 08:30] mfederico commented on #102
So can we then expect further performance improvements?
M

-------
Short from my mobile phone

[2016-03-05 08:51] cattoni opened #103 "mmt evaluate without context-analyzer?"
Is it possible to use "mmt evaluate" without using the context-analyzer?
Rephrased: is there an option in "mmt evaluate" similar to --skip-context-analysis available for "mmt tune"?

For some of the contrastive runs (e.g. without context-weights) this option is very useful otherwise I have to decouple and manage individually the two steps (translation and evaluation).

[2016-03-05 09:54] davidecaroselli commented on #102
Absolutely yes!

Il sabato 5 marzo 2016, Marcello Federico <notifications@github.com> ha
scritto:

[2016-03-05 10:45] davidecaroselli commented on #103
Currently there is not such option, but it should be very simple to
introduce it! We can work on that on Monday.

Il sabato 5 marzo 2016, Roldano <notifications@github.com> ha scritto:

[2016-03-05 14:32] cattoni opened #104 "change help description for "--path" option of "mmt evaluate""
when doing "mmt evaluate -h", the description of the "--path" option is:
  --path CORPORA        the path to the training corpora (default is preprocessed sample)

It should be replaced with:
  --path CORPORA        the path to the test corpora to be evaluated

[2016-03-05 15:35] cattoni opened #105 ""mmt stop" of a non-existent engine reports success instead of error"
When stopping a non-existent engine such as:
    mmt stop -e  NON_EXISTENT_LUPO_ALBERTO_ENGINE
the report is:
    Stopping MMT engine 'NON_EXISTENT_LUPO_ALBERTO_ENGINE'... OK

Should be
    ERROR Illegal State: engine not found: NON_EXISTENT_LUPO_ALBERTO_ENGINE
(same as mmt status -e NON_EXISTENT_LUPO_ALBERTO_ENGINE)

[2016-03-07 10:26] #89 closed

[2016-03-07 10:27] davidecaroselli commented on #93
This problem seems to appear also in during Tuning. It seems that MMT won't use more than 16 cores no matter what it's written in configuration files.

I'll run some tests today and I will report results asap.

[2016-03-07 10:33] mfederico commented on #93
Before digging into this, why not writing two lines to Hieu asking if this is a limitation of Moses?

[2016-03-07 10:42] davidecaroselli commented on #93
The first test I'm going to do is try to translate directly with our version of Moses. If I have the same limit, than I can assume that is a Moses-side problem, otherwise it is a more MMT-side problem.

This test should take me really few minutes, so if the results will confirm that is a "Moses-side" problem, I agree we can send Hieu an email.

[2016-03-07 11:25] bhaddow commented on #93
You might be interested in this long discussion on the scalability of Moses
https://github.com/moses-smt/mosesdecoder/issues/39

The bottom line is that there have been improvements (I think!) since
Matt made those graphs, but it's hard to eradicate all locking,
especially as some is buried in the C++ standard libraries.

On 07/03/16 10:42, Davide Caroselli wrote:

The University of Edinburgh is a

[2016-03-07 11:36] ugermann commented on #93
This is a known bottleneck in moses due to some global locking in the
current version of Moses. The quick fix is to use multiple moses instances
and distribute the load among them.

- Uli

On Mon, Mar 7, 2016 at 11:25 AM, Barry Haddow <notifications@github.com>
wrote:

--
Ulrich Germann
Senior Researcher
School of Informatics
University of Edinburgh

[2016-03-07 15:38] marcotrombetti opened #106 "LM - Training sanity check"
Today, if the LM training crashes it may results in a usable but incomplete LM.

We should add a sanity check suring the training phase.
If the sanity check fail the training must abort with an error message.

Important but not priority, assigning to milestone 0.13

[2016-03-07 15:48] nicolabertoldi commented on #106
I am already working on this

Any suggestion how to run tests on this?
We should create critical situations and verify whether the software is able to spot them.

Nicola

[2016-03-07 16:00] ugermann commented on #106
Isn't the easiest way to determine crashes to check exit codes?

- use "set -e" in bash scripts to make them exit immediately if something
goes wrong
- never pipe or write to the final output file directly; pip/write into a
temporary file and rename at the end
- if a program produces several output files, write into a temporary
directory and then move the contents of that directory to the final
de

[2016-03-07 17:04] davidecaroselli opened #107 "Wrong default weights"
Default weights are computed with a tuning on a broken engine. Latest weights should be used instead (b1_sprint3 engine)

[2016-03-07 17:54] marcotrombetti opened #108 "Loading Models -> Syncing Models on Slave"
I added a slave server and MMT said "Loading" instead of "Syncing".
Rsync is running on the master, so I guess it is just a typo.

[code]

[2016-03-07 17:55] marcotrombetti opened #109 "Speed - Domain Indexing in Suffix Array"
This is probably the last feature before shipping release 0.12

[2016-03-08 07:47] marcotrombetti opened #110 "Training - Incorrect creation of Eval testset"
All files on my machine.

I run an evaluate
[code]
While I was doing human evaluate I found this
[code]

Unfortunately this is present in the train corpus just once, so I should not appear in the test set.
[code]

[2016-03-08 07:57] marcotrombetti opened #111 "Benchmark 1.0 - Misalignments in Training Data"
I found possible misalignments in benchmark 1.0 while performing a human evaluation:

How should we proceed? Should we identify misaligned corpora and add a low a-priory to the context analyzer?

[code]

[2016-03-08 08:02] marcotrombetti commented on #111
BTW, the TM is
[code]

[2016-03-08 08:04] nicolabertoldi commented on #111
As I already highlighted last week
These misalignments probably come from an automatic sentence-level segmentation and alignment of parallel documents.

[2016-03-08 10:23] davidecaroselli commented on #110
This is exactly the behavior we agreed to apply to the automatic splitting: if the training set contains duplicates, it is possible that you can have overlapping between training an test sets.

[2016-03-08 10:25] davidecaroselli commented on #110
Removed "invalid label", I'm checking the data. Sorry for the label, I though the problem was different.

[2016-03-08 10:37] davidecaroselli commented on #110
Ok, so in the folder `benchmark-1.0/data/train/*.en` you have all the original training corpus. The one the user provides.
The automatic splitting reads those files and selects a portion to use as dev and test set. So it's perfectly normal to find a test sentence in the **original** corpora; the corpora used during training **is not** exactly the original , but of course the one where MMT has remo

[2016-03-08 10:37] #110 closed

[2016-03-08 13:22] davidecaroselli commented on #111
I've just finished evaluation on an engine without the broken TM. The result is a **gain in BLEU of 0.37**.
So, fast recap:

Version **with** `TM_Download_10591`:
* Parallel words: 240M
* BLEU: 56.55

Version **without** `TM_Download_10591`:
* Parallel words: 97M
* BLEU: 56.92

I suggest to simply remove `TM_Download_10591` from Benchmark 1.0, do you agree @marcotrombetti  @mfederico ?

[2016-03-08 15:16] mfederico commented on #111
yes! marcello

[2016-03-08 15:35] cidermole opened #112 "mmt evaluate calculates wrong translation speed"
mmt evaluate output:

    Translation Speed:
      MMT                 : 107.50s per sentence
However, the runtime for ./mmt evaluate ... was much less than 2 hours with my choice of ``pop_limit=1000`` (the reported speed amounts to a runtime of at least 1.8 hours, as implied by the most optimistic interpretation ``nsents*time_per_sent/cores/(60*60) = 1.8 h``, with nsents=990 and cores=16)

From m

[2016-03-08 15:38] cidermole commented on #112
(Of course the moses time per sentence does not include startup of the decoder, once per each of the 40 domains. But actual runtime was still far better.)

[2016-03-08 16:15] davidecaroselli commented on #112
I found the problem: the current implementation measure the time the HTTP request take to return the translation. This **is not the translation time**, in fact this is the time the translation spent in the MMT input queue plus the actual translation time.

For example, let's assume I have a system capable of only one translation at time (it's mono-thread) and that each translation takes exactly 1

[2016-03-08 17:00] #112 closed

[2016-03-08 21:30] marcotrombetti commented on #111
I agree to remove it and name the benchmark 1.1

If we get this TM in a controlled situation, we should expect more when we go live.

We need a way to filter them. Discussion moved to email.

[2016-03-08 21:44] marcotrombetti commented on #93
Got it.

Davide solved some issues on the MMT side and we are limited to 16 cores per machines from the moses side.

From a product standpoint this is more than acceptable for now. So I moved this a production oriented release.

[2016-03-08 21:45] marcotrombetti commented on #99
@davidecaroselli is this still actual?

[2016-03-08 22:00] marcotrombetti commented on #101
This is tricky and it is also common to use symbolic links due to space constrains in MMT partition.

I propose this:
We follow sym links and create a static structure in the slave.
We have to assume that the Slave has space.

[2016-03-08 23:42] ugermann commented on #111
Wouldn't TM_Download_10591 make a good test case for TAUS's data quality
assessment, then?

Did that evaluation involve retuning? The observed BLEU difference might
just be a random effect.

On Tue, Mar 8, 2016 at 3:16 PM, Marcello Federico <notifications@github.com>
wrote:

--
Ulrich Germann
Senior Researcher
School of Informatics
University of Edinburgh

[2016-03-09 11:22] davidecaroselli commented on #99
The first case ("& gt;") has been solved by the new preprocessor, while the second is still valid.

[2016-03-09 11:27] davidecaroselli commented on #108
That step is signaling two phases actually:
* Synchronizing models from master (only performed on remote slave)
* Loading models from disk (Moses)

Right now the python process has no indication of which step the java initializer is performing, so it can only output 1 line for both. Previously the line was `Synchronizing models..` but this info confuse the user who run all processes on the same ma

[2016-03-09 11:30] davidecaroselli opened #113 "Evaluate - Human Evaluation output must not contain tab char at all"

[2016-03-09 13:28] #104 closed

[2016-03-09 13:28] mfederico commented on #111
We leave this issue for future investigation. This TM looks to be quite an extreme case.

[2016-03-09 13:28] #111 closed

[2016-03-09 13:37] #113 closed

[2016-03-09 13:47] #107 closed

[2016-03-09 20:06] #109 closed

[2016-03-13 10:44] #93 closed

[2016-03-23 14:22] cidermole opened #114 "mmt start hangs if moses throws an exception at startup"
To reproduce:

Create an invalid moses.ini, e.g. by specifying an invalid model file path. Then run `./mmt start`. Moses will throw an exception, visible in `runtime/default/slave/logs/process.log`, but this fact never occurs to the mmt script, which waits happily for the slave to report back, which never happens.

Expected behavior:

`./mmt start` should print an error and exit if the slave has d

[2016-03-23 15:41] cidermole opened #115 "The first query to Context Analyzer gives different context weights"
To reproduce:

Start up an MMT engine and run the same query twice against CA.

Expected results:

Equal context weights returned both times.

Actual results:

Different results on the very first run.

Example:

[code]

[2016-03-24 09:40] davidecaroselli commented on #114
This is the same issue of #81

[2016-03-24 10:53] #115 closed

[2016-03-24 18:30] davidecaroselli commented on #99
Solved in the latest MMT release (v0.12)

[2016-03-24 18:30] #99 closed

[2016-03-24 18:30] davidecaroselli commented on #95
Solved in the latest MMT release (v0.12)

[2016-03-24 18:30] #95 closed

[2016-04-04 15:31] cidermole commented on #64
[code]

Works with Ubuntu 12.04 and should work with anything at least as "recent".

[2016-04-04 15:31] #64 closed

[2016-04-04 15:37] cidermole commented on #64
Oh, we should eventually have a discussion about install location and RPATH of libs, @davidecaroselli

[2016-04-07 06:37] cettolo opened #117 "LC_ALL environment variable"
I noted that the LC_ALL env variable must be properly set for running MMT. In fact, I got this error by running moses alone (starting MMT does not work and no useful info is provided):

Exception: locale::facet::_S_create_c_locale name not valid

Searching on the web it seemed that the error is related to LC_ALL; in fact, in my case it is unset:

...
LC_IDENTIFICATION="en_US.UTF-8"
LC_ALL=

Settin

[2016-04-07 07:03] mfederico commented on #117
@cettolo
why not just forcing as default the POSIX C Locale?
LC_ALL=“C”

Would this work?

[2016-04-07 07:21] cettolo commented on #117
Yes, even "C" is a proper value. What I think is that it cannot be assumed that LC_ALL is set, therefore somehow its setting should be forced.

[2016-04-07 07:27] nicolabertoldi opened #118 "problem with GooglePerftools package"
On a Redhat 7.3, I run
$> .vendor/compile.sh

moses does not compile because the GooglePerftools package is not found
The error message is:
Could NOT find GooglePerftools (missing:  GooglePerftools_LIBRARIES GooglePerftools_LIBRARIES_DEBUG GooglePerftools_INCLUDE_DIR)
-- Could NOT find tcmalloc (missing:  GooglePerftools_LIBRARIES)
CMake Error: The following variables are used in this project, but

[2016-04-07 17:26] cidermole opened #119 "Trailing space in translation output from API"
A trailing space was introduced. Before:

[code]

Current develop branch:

[code]

[2016-04-11 13:24] davidecaroselli commented on #103
I'm closing it because we successfully completed this task without adding this flag to the command.

[2016-04-11 13:24] #103 closed

[2016-04-11 13:26] davidecaroselli commented on #117
I'm going to add this env variable directly in the **mmt start** command. Thanks for the hint!

[2016-04-11 13:27] davidecaroselli commented on #118
@cidermole can you have a look at this issue? Do you think it can be easy to solve?

[2016-04-11 13:28] davidecaroselli commented on #119
Bug solved in branch **features/xmessage** I'm going to close this issue as soon as I merge the work done.

[2016-04-12 12:48] davidecaroselli commented on #119
fixed in develop branch

[2016-04-12 12:48] #119 closed

[2016-04-12 12:49] davidecaroselli commented on #106
These scripts are no longer used in MMT (currently we use KenLM as base LanguageModel)

[2016-04-12 12:49] #106 closed

[2016-04-12 17:03] cidermole commented on #118
@nicolabertoldi can you check if the current develop branch (moses branch mmt-official) works?

With this change:
https://github.com/ModernMT/mosesdecoder/commit/a54ab9eb660fd655d80dbc34629d8f9df82bea64

[2016-04-26 13:40] cattoni opened #120 ""mmt evaluate" gets stuck if issued just after "mmt start""
After "mmt start", if "mmt evaluate" is issued immediately then it gets stuck during the translation step and never completes.

In order to have "mmt evaluate" complete its task successfully, it is sufficient to issue the example command

[code]
just after "mmt start".

Is it possible that the first translation query to the master is in some way special (e.g. for timing issue) and it is not correc

[2016-04-27 10:30] #98 closed

[2016-04-27 17:21] davidecaroselli commented on #108
Solved in develop branch

[2016-04-27 17:21] #108 closed

[2016-04-27 17:21] davidecaroselli commented on #101
Implemented and tested in develop branch

[2016-04-27 17:21] #101 closed

[2016-04-28 08:45] #81 closed

[2016-04-28 08:45] #114 closed

[2016-04-28 08:46] davidecaroselli commented on #118
@nicolabertoldi can you please verify the solution and, in case everything's working, close the issue please?

[2016-04-28 08:57] davidecaroselli commented on #117
@cettolo unfortunately I could not replicate the issue on my Ubuntu instance. However I've just uploaded a possible fix in the develop branch, can you test it and close the issue if everything is working? Thanks.

[2016-04-28 08:59] davidecaroselli commented on #105
Solved in the develop branch

[2016-04-28 08:59] #105 closed

[2016-04-28 09:18] #100 closed

[2016-04-28 09:22] #82 closed

[2016-04-28 09:41] davidecaroselli commented on #120
Solved with the new Distributed Infrastructure available in the develop branch.
Tested both with small and big models, hot and cold start.

[2016-04-28 09:41] #120 closed

[2016-04-28 17:01] hieuhoang commented on #93
working on it, all will be revealed soon.

[2016-04-28 17:20] davidecaroselli commented on #93
hi @hieuhoang are you referring to regular Moses, or a different version? (Moses 2 maybe? :) )

[2016-04-28 17:25] hieuhoang commented on #93
You know more than most ;) Need to get paper accepted somewhere before officially revealing anymore

[2016-05-02 12:30] cattoni opened #121 "wrong preprocessing of "it" data with env variable LC_ALL=C"
If the env variable LC_ALL is set to "C" then the preprocessing chain does not produce UTF-8 data.
For example the preprocessed italian data are ASCII files that contain no accented vowels; for example accents are substituted with question mark characters ('?', ASCII code 0x3F).

Here some example of input and wrong preprocessed output:
* perché -> perch ?
* dirò -> dir ?
* più -> pi ?
* E’   ->

[2016-05-05 13:38] cattoni opened #122 "option "--lm.order" in "mmt create" does not work"
In order to create LMs of order 2 (i,e, lower than the default 5) I have utilized the option "--lm.order 2" in "mmt create".
But the created LMs are still of order 5.

The full issued command was:
[code]

[2016-05-05 14:05] mfederico commented on #122
no manual, no help mode?
M

[2016-05-05 21:56] cattoni commented on #122
Nicola pointed out that:
^ the correct option name is "--muxlm.order" and not "--lm.order"
* if the order is 2, then file scripts/mt/lm.py must be changed at line 51 to set self.prune = False: currently it is set to True so that the string “-—prune 0 0 1” is added to the lmplz, and this string in not compatible with 2-grams
* the command invocation of "lmplz" fails if order is 2

So fist the behav

[2016-05-06 22:29] cattoni opened #123 "parameter "alpha" must be changed in both engine.ini and moses.ini"
In order to change the value of parameter (muxlm) "alpha", both definitions in engine.ini and moses.ini must be updated.
Modifying the value in engine.in only has no effect.

A single modification point (either engine.ini or moses.ini) should be realized.

[2016-05-12 12:01] cidermole opened #124 "mmt create should print pipeline errors directly"
I ran into this with the Czech language (which was incorrectly marked 'cz' - see #125).
The only error indication is that Corpora preprocessing "failed with exit code 1".

[code]

The error message is far from informative: there is no indication of the failure that happened during the step. You have to manually run the command printed, for which you first have to re-run with `--debug` so the temp

[2016-05-12 12:05] cidermole opened #125 "ISO 639-1 code for Czech: is 'cs', not 'cz'"
I tried fixing this in https://github.com/ModernMT/MMT/commit/d1d8e525d03163e6d3e5c221e8c06fcdb41f9ed0

But somebody should verify that it works before closing this.

[2016-05-12 12:15] davidecaroselli commented on #125
It seems perfectly ok for me. I close this issue, thanks for the fix!

[2016-05-13 14:31] cattoni opened #126 "tuning failure with very large system (java.lang.NullPointerException in node.log)"
Given a very large system (cfr. system "NEWstep_05b" in [1], size of its engine/model dir is 49GB), its tuning (with "mmt tune" on dev2) always fails during step 1 with  the following info:

* runtime/NEWstep_05b/logs/node.log:
2016-05-13 10:19:59,161 [qtp231191650-122] DEBUG rest.RESTServer$Router - Executing REST action Translate
2016-05-13 10:19:59,162 [qtp231191650-122] ERROR translation.Trans

[2016-05-16 16:01] cattoni commented on #126
Found the origin of the problem.

The method $MMT_HOME/scripts/mertinterface.py:_wait_for_restart() (line 80) basically implements a timeout of 5 minutes (60 cycles of 5 secs). Since the engines takes ~11 minutes to start, at the first iteration when the engine is started, the method fails and returns
``
 raise Exception('Server unavailable - Too many failed attempts')
[code]

[2016-05-16 17:24] nicolabertoldi opened #127 "failure when context is not provided"
When the engine is queried two times without context, it throws an exception, and crashes
I experience this problem with develop (commit f32417965e64b9de9fc7e48929e95bcc852abf7c)

To reproduce the error
1) create an engine with the example data
./mmt create en it examples/data/train/

2) start the server
./mmt start

3) query with context    is fine   all times
curl "http://localhost:8045/translat

[2016-05-16 18:56] davidecaroselli commented on #127
It seems a phrase-table related problem so I assign this issue to @cidermole
David if my guess is wrong please, reassign this to the right person.

[2016-05-17 09:50] davidecaroselli commented on #121
@cattoni I should have fixed this issue, could you please test it and, if it's solved, close this issue? Thanks!

[2016-05-17 12:05] cettolo commented on #117
it works! Thank you and sorry for the very very late check.

[2016-05-17 12:05] #117 closed

[2016-05-18 12:04] marcotrombetti opened #128 "./mmt start too slow"
Follow up, after a discussion with @davidecaroselli

./mmt start was normally taking 1-2 seconds.

After adding tag projection it takes form 2 minutes to 10 minutes due to the startup of fast_align required by tag projector. Since a very small fraction of users will use tag projection I suggest to remove it from the default startup and add to mmt a --enable-tag-projection

Todo:
1) remove tag-proj

[2016-05-18 13:17] cattoni commented on #121
@davidecaroselli I have checked the new version, it is ok now, preprocessed Italian data are UTF-8.

By the way the problem was always present in the default engine but we never realized it because the example curl invocation in README.md does not involve Italian accented wovels.

[2016-05-18 13:17] #121 closed

[2016-05-18 13:35] luca-mastrostefano commented on #128
@marcotrombetti, I agree with you regarding the slowness of the startup due to the loading of the models by Fast Align.

It should be removed from the default startup of MMT while we integrate the new version of Fast Align developed by @PersianNLPer. It will be incredibly fast.

[2016-05-18 16:53] cattoni commented on #128
All data sets I'm using for very large model experiments do include tags, so I have to use the tag-project component. This implies long waiting times, in particular in tuning - each iteration step takes at least 10m only for re-start the system.

So I strongly support efforts on reducing fast_align start time.

[2016-05-18 17:02] luca-mastrostefano commented on #128
Fortunately during the translation process the alignments needed for the tag projection are already computed by Moses and MMT doesn't need Fast Align to compute them.

If we do not start Fast Align by default, the translation process will be fine anyway.

[2016-05-19 10:48] cidermole opened #129 "Quotes should be translatable in French-English translation"
Problem: French quotes stay in the English output. This hurts our WMT15 evaluation by 0.9 BLEU points.

* `SRC` est prêt à « coopérer » avec l'Allemagne
* `OUT` willing to «cooperate» with Germany
* `REF` ready to "cooperate" with Germany

French people use different quotes than English people. I believe there should be support to change quotes, at least for this language pair.

[2016-05-19 10:51] cidermole opened #130 "Names containing apostrophes are split apart"
Names containing apostrophes are split apart (occured in French-English translation).

* `SRC` O'Malley a déclaré
* `OUT` O 'Malley said
* `REF` O'Malley said

Note the space that has been inserted in the output.

[2016-05-19 13:51] marcotrombetti opened #131 "Google Translate Key Budget"
Very often the budget of the GT Key provided with MMT for "mmt test" run out of budget.

When this happen we should notify the user with a simple message saying someting

The free quota for Google Translate is over. Please use- -gt-key to specify your GT API developer key.

[2016-05-19 14:31] cidermole commented on #130
Same with the possessive 's in English output from various languages, here in Finnish-English:

[code]

0.1 BLEU in fi-en just by replacing `'s`: `sed "s/ 's/'s/g"`.

[2016-05-19 17:55] marcotrombetti opened #132 "extras/heval improvements"
Following the discussion with @davidecaroselli

Add:
- Add Exit Option. If choosen it will calculate score based on the x evaluations done.
- improve formatting (Not clear 0 and 1 and add instructions how to vote)
- chmod 755
- rename to human-eval

[2016-05-19 17:59] marcotrombetti opened #133 "mmt evaluate improvements"
Following discussions with @davidecaroselli

Add log to inform the user about the step in progress.
- Translating with Google Translate
- Translating with MMT
- Calculating BLEU
- Calculating Matecat Post-Editing Score

[2016-05-19 19:36] marcotrombetti commented on #129
Makes a lot of sense.

[2016-05-19 21:42] ugermann commented on #129
In my opinion I it's totally legitimate to normalize such things before
calculating the BLEU score, as long as we are open and consistent about it.
Acutally, I think it even makes sense to report both numbers (without and
with normalization), to put BLEU into perspective. The same holds, by the
way, for various kinds of dashes (proper hyphen, en-dash, em-dash, and the
many dashes that people might

[2016-05-20 09:37] cidermole opened #134 "Memory leak in recent develop branch"
I was running repeated tune and evaluate steps in an infinite loop overnight. There seems to be a memory leak somewhere, because this morning, the machines used up all their RAM and were in limbo swapping pages to/from disk.

[code]

This was a `benchmark-1.1` system that usually uses this amount of RAM at runtime (just after fresh startup and started tuning):

[code]

I suspect moses. ContextScop

[2016-05-20 09:53] davidecaroselli opened #135 "Very slow translation due in-memory page swapping - Moses"
I'm experiencing some slow-down issue in translation. It happens that the Translation Time is 6-8 time slower than expected (~7 seconds instead of 1.7 on benchmark-1.1).

The bad news: this issue is a sort of random behavior. In fact when it happens, if I stop and start again the engine, the problem could have been solved. I suspect then that there's some issue at the startup that puts Moses into

[2016-05-20 13:03] #118 closed

[2016-05-20 15:24] davidecaroselli commented on #126
Bug solved by commit https://github.com/ModernMT/MMT/commit/3aaffd07a9a4c23deb75b564e2a9ee54e088110f.

**Timeout is no longer needed**, in fact new version of MMT does not require restart after feature weights change.

[2016-05-20 15:24] #126 closed

[2016-05-22 15:27] mindaugasDEV opened #136 "how shall we train MMT with different TMX"
Hello,

We would like to train MMT in several domain, eg. Legal, Automotive and Medical. For that we will use corresponding TMXs, lets say European Patents, European Parliament (for legal), then Volvo, Scania, DAF (for automotive) and Medtronics, Philips Healthcare and Johnson and Johnson (for Medical). All names are given only for reference, these are not real projects.

How shall we feed the TMX

[2016-05-22 15:29] mindaugasDEV commented on #136
uups, the keyboard jumped

the last sentence should be 1) how shall we organize, name or TAG the training files (TMX or monolingual) so that later we could refer to them as best context for the projects line
2) how shall we invoke the right language model (the right reference TMX or Mono data) during API call to give Medtronic priority

[2016-05-22 15:34] mindaugasDEV opened #137 "how can we apply Glossary and Product Names list during API call"
Hello,

I hope my early questions will not disturb you, but will contribute to early user feedback\wishlist.

In ideal scenario we would like to invoke during API the right reference files for the new Medtronic (name is used only as a reference, we dont work with Medtronic) project:
- to apply language models from Medtronic TMX and monolingual data
- to apply Medtronic dictionary (e.g. of 1000 ter

[2016-05-23 08:37] davidecaroselli commented on #136
Hi @mindaugasDEV

following your example, I would put all my TMX files into one single folder, let's say:
[code]

Secondly, I would add any other data, both bilingual and monolingual, that I could find to reach 1B monolingual words and 100M bilingual words: this is a good starting point to train a translation engine.

Now to the final part of your question: if you want to skip the context analysis

[2016-05-23 09:01] davidecaroselli commented on #137
Hi @mindaugasDEV

as discussed in the other issue https://github.com/ModernMT/MMT/issues/136 you can force the context of a translation to match exactly the distribution you want:
[code]
 In that case MMT will do the best to translate exactly as that given context (in the example medtronics). So if the engine recognize that some terms are kept equal from source to target, it will replicate that be

[2016-05-24 14:20] davidecaroselli commented on #135
After a discussion with @cidermole I've run some tests to inspect this very strange behavior. Results shown that the problem is not actually an initialization issue, instead, as David suggested, it's a RAM availability issue.

I run the same test on an Amazon EC2 Instance m4.10xlarge (160 GB of RAM) and the mean translation time is 1/3 and, most important, does not change with the Engine restart.

[2016-05-24 14:25] cidermole opened #138 "lmplz errors never get flushed to training.lm.log"
So I failed to build an LM, `lmplz` failed:
[code]

But `runtime/uli-clean.2-en-it/logs/training.lm.log` is empty :(

The logs seem to go to a temp folder which is then emptied, see `engine.py`:142:

[code]

What's the purpose of `logs/training.lm.log`, and shouldn't LM logs go there? Were they too verbose for IRSTLM?

[2016-05-24 14:29] davidecaroselli commented on #138
LM logs **must** go there, in `logs/training.lm.log`. Probably the lmplz binary is not invoked in the correct way. Do you think you can fix this issue?

[2016-05-24 15:04] #136 closed

[2016-05-24 15:04] #137 closed

[2016-05-24 15:46] cidermole commented on #135
Davide,

there are ways to
1. lock the mmapped pages (using `mlock()`) - in case they should be swapped out;
2. mmap them with `MAP_HUGETLB` so the file is backed by huge pages in memory (TLB friendly, i.e. quicker random access, which both LM and TM use a LOT).

I suspect that 2. happens opportunistically even without the flag, i.e. the kernel figures that we are mapping a large file that should

[2016-05-24 16:22] davidecaroselli commented on #135
@cidermole very interesting analysis. Do you think is possible to change every mmap call with mmap+mlock? What would be the effort?

[2016-05-24 17:17] #50 closed

[2016-05-26 14:01] davidecaroselli commented on #61
Feature supported starting from commit https://github.com/ModernMT/MMT/commit/e92254ababe76ade4af27e4ec5ceb34ba60be9e3

To join a cluster now you just have to specify its LAN IP, example:
[code]

[2016-05-26 14:01] #61 closed

[2016-05-26 15:39] #51 closed

[2016-05-26 18:12] cidermole commented on #134
Davide, `JNITranslator::delete_session(uint64_t id)` is never called when you do a `HTTP DELETE /sessions/2`.

[2016-05-27 05:59] marcotrombetti opened #139 "0.13 AdaptiveLM Pro and Cons"
This is an open discussion regarding the AdaptiveLM in 0.13.
I am trying to understand how this may impact the product.

Pro:
- up to 2 BLEU scores increase

Cons:
- More storage and Memory required during training and operation
- 25% slower training overall (100% LM only)

@davidecaroselli @cidermole @nicolabertoldi @mfederico I would like to have your opinion know if there is any other pro or co

[2016-05-27 06:17] marcotrombetti opened #140 "0.13 dev vs 0.12 - Lower BLEU"
Using the a 0.13 Develop build provided by Davide yesterday.

I had this results on the WMT15 Task Data + OPUS

0.12 Stable, no tuning -> 17.44
0.13 Dev, no tuning -> 14.13

0.12 Stable, WMT tuning -> 19.24
0.13 Dev, WMT tuning -> 18.21

[2016-05-27 06:28] marcotrombetti commented on #128
@davidecaroselli I did review 0.13 that was going to solve the problem.

Few more things missing:
1) By default is still active. Should be off by default
2) The parameter in engine.ini show be named enable_tag_projection not enable_fastalign = true
3) update Tag Projection API documentation

[2016-05-27 06:31] nicolabertoldi commented on #139
Regarding training speed, I think that this is only because the LM (background and domain-specific are trained sequentially); probably, training in parallel could reduce training time.
A reasonable solution could be the sequential training of the domain-specific LMs and in parallel the training of the background. Probably in this way we optimize time and CPU resources.

Regarding the storage, I th

[2016-05-27 06:57] mfederico commented on #139
On the long run I guess that big language models will be trained just once and will be updated once in a while. So big LM files could reside in a separate folder.

@davidecaroselli @cidermole @nicolabertoldi @mfederico @marcotrombetti

[2016-05-27 08:42] davidecaroselli commented on #140
I'm running right now a test on benchmark 1.1 to see if there is the same BLEU drop. I'll post the result asap.

[2016-05-27 08:51] davidecaroselli commented on #128
@marcotrombetti this issue is still opened, it means it is not solved yet :)

[2016-05-27 08:52] davidecaroselli commented on #134
Thanks @cidermole ! This must be a bug introduced with new distributed infrastructure rework.
I'm working on this.

[2016-05-27 08:59] davidecaroselli commented on #139
I agree with @nicolabertoldi and @mfederico on the training issue.
Regarding other PROs I would like to add that it can be made incremental for even better performance.

On the RAM aspect, we worked a lot in the past months to increase the quality and we succeed. If the speed and memory consumption start to become a priority, we should focus on that and start to rework components in order to make

[2016-05-27 09:44] cidermole commented on #127
I found (and fixed) a regression in 661ea5d05d40bc88b5eee76f608818cedf199309 yesterday; with the global session, I broke changing feature/context weights outside of sessions...
The fix needs to be merged.

[2016-05-27 09:51] davidecaroselli commented on #127
ok, in which branch I can find the fix? Does this branch also include other changes?

[2016-05-27 09:56] cidermole commented on #127
Why discuss if you can just push the fix to develop :)

[2016-05-27 09:59] davidecaroselli commented on #96
To correctly handle this issue we need to introduce a feature in the post-processor that transfers from source sentence to target translation the "special" spacing decisions the input text has.

The current pipeline is ready to develop such feature thanks to the work done by @luca-mastrostefano (reversable pipeline). Thus I think this features has, for now, low priority so I move this issue for a

[2016-05-27 10:01] davidecaroselli commented on #127
;)

[2016-05-27 10:01] #127 closed

[2016-05-27 10:20] cidermole commented on #139
Model size (HDD, RAM):

benchmark-1.1: 21.5 GiB total models/lm size
3.8 GiB adaptive models
17.7 GiB background.slm

CPU:

without adaptive LM: 0.6 s / sentence
with adaptive LM: 0.73 s / sentence

Quality:

Though definitely an improvement in general, it is possible that you get slightly worse translations than from a non-adapted system. This could be the case if the Context Analyzer makes a mis

[2016-05-27 10:25] cidermole commented on #139
If really necessary, LM training can be optimized to be much faster. In practice it is unnecessary to pass the corpus and sort n-grams twice in `lmplz`.
If we start optimizing LM training, we should also get rid of the intermediate text file (ARPA) that Roldano was discussing.

[2016-05-27 10:33] cidermole opened #141 "mmt evaluate occasionally gets stuck (in getting MateCat scores?)"
Occasionally, `mmt evaluate` gets stuck. The engine has translated all 1000 test sentences as evidenced by `node.log`. After tens of minutes, I lose patience and kill it. But I think it can hang for longer.

This is a bummer for running batteries of automatic tests.

I suspect the MateCat scoring: there should be a reasonable timeout on this (is 1 minute OK?)

[2016-05-27 10:49] davidecaroselli commented on #141
yes, absolutely!

[2016-05-27 11:04] ugermann commented on #139
Why is the ARPA file even written to disk? I always pipe the output of
lmplz into build_binary.

- Uli

On Fri, May 27, 2016 at 11:25 AM, David Madl <notifications@github.com>
wrote:

--
Ulrich Germann
Senior Researcher
School of Informatics
University of Edinburgh

[2016-05-27 12:37] davidecaroselli commented on #140
@marcotrombetti I just finished the tests on benchmark 1.1. On that data 0.13 is performing better than 0.12:

0.12-stable -> 57.48
0.13-dev -> 59.10

but I found some inconsistencies with internal "in-0.13" results. I'll try to investigate more.

[2016-05-27 13:14] marcotrombetti commented on #141
I also have the same problem.

I cannot reproduce it, but if I increase stack e cube pruning from 1000 to 5000 it happens very often. So I assumed it was a translation request stalled and not the Matecat API.

Anyway I totally agree in setting a timeout. But 1 minutes for all request may be too small.

@luca-mastrostefano can you suggest a good timeout?

[2016-05-27 13:15] marcotrombetti commented on #140
@davidecaroselli are you testing the same build you gave me?

[2016-05-27 13:16] davidecaroselli commented on #140
yes, the exact same build (the one I gave you yesterday)

[2016-05-27 13:57] davidecaroselli commented on #140
After a call with @cidermole I realized that it's everything ok with the test results so, no issues.
My best guess is that we have customized the technology to work very well in a particular business case, and it is performing not so well in a totally different case (WMT).

We **need** to provide some sort of "backoff" behavior.

[2016-05-27 23:06] davidecaroselli commented on #140
@marcotrombetti @luca-mastrostefano @mfederico @cidermole I've got it!

I understood why we lost 1 BLEU point with MMT 0.13, and the good news is: it's not even a bug!
The cause is: **rare-chars normalization**.

The old version of MMT, 0.12, made a normalization of both reference and translation in order to normalize "rare" characters, for example:
- **reference**: « Ciao » (notice the guillemets

[2016-05-27 23:06] #140 closed

[2016-05-31 11:55] cidermole opened #142 "openSession() fails without a context"
In tuning with a specific dataset, mert crashed:

[code]

`mertinterface.py` died as follows:
[code]

`node.log` reveals:

[code]

MMT 0dcf170fa1fe6e8e4fa97c77b29b4f1d231a1d91

The `ContextXObject` seems to get a null value.

Session ID 59 had an empty context:
[code]

Admittedly, the specific dev set file `syn-68be4bc1f54801ba.en` is slightly anomalous with two literal dots (stopwords in CA?):

[

[2016-05-31 12:49] davidecaroselli commented on #142
This is 100% a bug, no doubts! Thanks David.

[2016-05-31 16:20] cidermole commented on #125
LanguageAnalyzer.java:59
[code]

Any other places with hardcoded language codes?

[2016-05-31 16:28] davidecaroselli commented on #125
It shouldn't. Thanks for the debugging!

[2016-05-31 16:28] #125 closed

[2016-06-06 14:06] #142 closed

[2016-06-06 14:08] davidecaroselli commented on #135
After an internal discussion, we decided that investigating a possible improvement is not a priority for now.

[2016-06-06 14:08] #135 closed

[2016-06-06 14:31] #128 closed

[2016-06-06 15:12] davidecaroselli commented on #123
Starting from commit https://github.com/ModernMT/MMT/commit/c6515a431477cc5b70bceaf6429bbc54c149cc8a only the useful informations are store in the `engine.ini` file. If you want to change some Moses parameter, you can now edit directly the moses ini template under `engines/<your-engine-name>/models/moses.ini`.

[2016-06-06 15:12] #123 closed

[2016-06-06 16:24] davidecaroselli commented on #138
KenLM training output is now piped into `logs/training.lm.log` file.

[2016-06-06 16:24] #138 closed

[2016-06-06 16:26] davidecaroselli commented on #122
`lm.order ` argument now changes the KenLM order even when used in conjunction with MultiplexedLM. Pruning is also added only if order > 2.

[2016-06-06 16:26] #122 closed

[2016-06-07 15:24] #130 closed

[2016-06-07 21:47] davidecaroselli opened #143 "Bug in processing pipeline - MERT only"
@luca-mastrostefano @nicolabertoldi @cidermole @ugermann

I've experienced some drops in BLEU score due one of my latest commits, probably starting from commit https://github.com/ModernMT/MMT/commit/be244779f960230f7c8a26b439e47900b261963a or newer.

Tomorrow I will investigate and solve the problem, meanwhile please be careful on some possible misleading results.

-Davide

[2016-06-08 10:03] davidecaroselli commented on #143
I found the bug: it was impacting only MERT operation, in fact the problem was that the NBests were detokenized no matter what the `processing` option of the `/translate` API was.

Bug solved with commit https://github.com/ModernMT/MMT/commit/d1415c307c54ee6e156d5d30d2542abbfc3ed770 in develop branch. Soon I will merge the fixed version into master.

[2016-06-08 10:03] #143 closed

[2016-06-08 14:26] #134 closed

[2016-06-09 09:25] davidecaroselli commented on #139
Trying to sum up what we have discussed about, I would say that the speed/memory issues of the AdaptiveLM do not impact so much on the overall performance, while this technology brought to MMT 2 BLEU points, a very important quality boost.

Furthermore if the speed and memory issues became a priority, they can be solved in further releases reengineering the training pipeline.

In conclusion, my op

[2016-06-09 11:30] #133 closed

[2016-06-09 13:25] #132 closed

[2016-06-09 14:08] #131 closed

[2016-06-09 14:15] #141 closed

[2016-06-09 15:09] cattoni opened #144 "computation of MuxLM linear combination seems wrong"
The current implementation of MuxLM linear combination appears to compute the linear combination of individual LMs scores only once, at the level of likelihoods returned by each LM on the full input sentence.

The correct implementation should instead compute the linear combination at the level of each ngram in the input sentence, that is: (1) for each ngram in the input sentence, combine linearly

[2016-06-09 15:12] #129 closed

[2016-06-09 15:29] davidecaroselli commented on #144
Hi @cattoni @cidermole

So if I understand correctly, this is actually a bug, but fixing it would require a **big** code refactoring because the right implementation simply cannot be realized with the current architecture of Moses, is it correct?

If yes, what is the extent of the bug? Is there the possibility of a further increase in terms of BLEU score?

[2016-06-09 15:38] davidecaroselli commented on #144
after a discussion with @cattoni I understood that practically this could not be a real bug. More precisely the way MuxLM computes the interpolation is a sort of **approximation** that we are not sure is affecting MMT quality.

Id @cidermole confirm that, I will remove the bug label for now, and just keep this issue as a more generic "discussion".

[2016-06-10 17:53] cidermole commented on #144
@cattoni
Roldano, this is exactly the point that Ken was criticising here when I told him how I interpolate LMs. If you run translation experiments, it seems that the "correct" way of linear LM interpolation on the word level in fact performs 0.4 BLEU worse on `benchmark-1.1`. It also takes more CPU time and is uglier to implement as an abstraction in the LM feature layer (see https://github.com/M

[2016-06-10 20:54] mfederico commented on #144
I start to get confused, sorry.

@cattoni wrote:
"The current implementation of MuxLM linear combination appears to compute the linear combination of individual LMs scores only once, at the level of likelihoods returned by each LM on the full input sentence."

I guess you cannot perform search by interpolating LMs at the level of the "full input sentence". I prefer to believe instead that we are i

[2016-06-10 20:54] #144 closed

[2016-06-10 21:01] cattoni commented on #144
@cidermole
Thanks, David, for the additional information. So the current implementation, in spite of being an approximation, is faster and perform better than the "correct" one, at least on `benchmark-1.1`
A good news, I would say :-)

[2016-06-13 08:19] #139 closed

[2016-06-16 06:12] cettolo opened #145 "handling of numerical expressions"
I run an experiment for assessing the effectiveness of the module that handles numerical expressions. Two MMT instances were employed: the standard MMT and a version where the module for handling numerical expressions was disabled; they were run on both the test set of the benchmark 1.1 and the benchmarck 0.3 of numerical expressions. Results show that both in terms of BLEU and of numerical expres

[2016-06-16 06:45] marcotrombetti commented on #145
I noticed that many numbers still get converted into 00.
This will lower the BLEU score of those segments because it is reasonable
that standard Moses is making a smaller mistake.

My hypothesis is that the numerical manager solve some problems and break
the translation in other places giving a zero net result.

I agree we have to work on it. But I also think it is important to improve
what we hav

[2016-06-21 15:15] davidecaroselli commented on #145
With commit https://github.com/ModernMT/MMT/commit/3ae98a49742a01c208ae3bbb907d324cad6ef3ac numerical expressions are replaces with "all 0s" placeholder because, for the current implementation, it seems the most "correct" way (I've discussed with @cettolo about these details).

The quality does not seem to change anyway, as Marco said, this can be a starting point that we can use to improve this t

[2016-06-21 15:15] #145 closed

[2016-06-27 20:35] marcotrombetti commented on #132
@davidecaroselli

Can you confirm that an "Exit" command has been added.
I read the code and the implementation looks like the old discussions and not what has been summarized in this task.

Marco

[2016-06-27 22:43] mindaugasDEV opened #146 "Can MMT be trained with EN->ET, EN-LT and other less popular European language pairs?"
Hello,

I have compiled MMT as per Install file.
EN-IT engine was created successfully from /examples/data/train files.

However, if I change the file extensions of example target training files from *.it (Italian) to *.lt (for Lithuanian), then
command
`./mmt create en lt examples/data/train` freezes in INFO: (2 of 6) Corpora preprocessing and I need to cancel the script.

The same, if I change t

[2016-06-27 22:51] mindaugasDEV opened #147 "how shall tell MMT to use the TMX data for training, not only corpora file pairs?"
Hello,

Instead of using training monolingual file pairs, I have tried to use a TMX file with proper language code.
However, the command `./mmt create en it example/data/train` did not find TMX file there (as I deleted the file pairs and only left bilingual en-it TMX).

The script gave a message: `ERROR Illegal Argument: you project does not include EN-IT data`

Main question: how shall we use TMX

[2016-06-27 23:33] marcotrombetti commented on #146
Good question.

It should work with lt and lv but we never tested those.
We will let you know soon.

2016-06-28 0:43 GMT+02:00 mindaugasDEV <notifications@github.com>:

[2016-06-27 23:49] mindaugasDEV commented on #146
Yes, I would be great if you check. Thanks!

LV, RU, FI is working (maybe because Moses has more scripts for grammar of those languages)
ET, LT is NOT WORKING (assumption - official Moses is not well developed for those languages, although commercial MT providers serve those languages conveniently).

[2016-06-28 08:06] davidecaroselli commented on #132
@marcotrombetti

The feature you're requesting has been implemented: you can `ctrl+c` at any time the process, it will print the partial results and exit. This behavior is explained in the "Instructions" section that is printed as soon as you launch the command.

[2016-06-28 08:14] davidecaroselli commented on #147
Hi @mindaugasDEV ,

regarding the TMX import, you are doing everything correctly. The problem is a bug in the scripts that check for the presence of a correct corpus; that's why you are hitting that error message. I'm working to fix that, thanks for the report!

**Yes**, you can use both monolingual files for the language model and bilingual parallel corpus (.en + .it)   in the same folder with yo

[2016-06-28 09:38] davidecaroselli commented on #146
The issue is due the fact that ET and LT are not currently supported and this situation is not properly reported by the script (that hangs instead returning an error).

However, we're working on implementing a backoff solution for the languages for which we don't have a custom Tokenizer. I'll let you know as soon as this feature will be implemented.

[2016-06-28 09:40] davidecaroselli opened #148 "./mmt create hangs if language is not supported"
As reported in issue https://github.com/ModernMT/MMT/issues/146 , the current implementation does not  handle properly an unsupported language.

Correct implementation must return an error message instead of hanging indefinitely.

[2016-06-28 09:53] mindaugasDEV commented on #146
Thanks,
Uff, when are you going to implement those languages? Is it a matter of 1-2 months, or 3rd quarter?

Can we then ourselves go for “shortcut solution“:
1) change language code in TMX from ET (unsupported) to FI (supported language with similar grammar structure) or from LT (unsupported) to LV (that has similar grammar structure)
2) then train the FI or LV engine (while in reality they are E

[2016-06-28 10:01] davidecaroselli commented on #146
What you are proposing is a perfectly valid solution. Moreover, this behavior is exactly the kind of backoff we want to implement: some tokenizers are not so hyper-specific, and can be safely used also with other similar languages.

Let me know if you find the output of such engine good enough, and we can setup the backoff for those languages very quickly :)

[2016-06-28 10:04] mindaugasDEV commented on #146
OK, I will try it after you fix the bug #147 :)

[2016-06-28 11:27] #147 closed

[2016-06-28 11:51] davidecaroselli commented on #147
@mindaugasDEV the fix has been applied to the master branch: you can now train an engine with a folder that contains only TMX files.

In order to have the fixed version, you can build from sources (you can find instructions in the [INSTALL.md](https://github.com/ModernMT/MMT/blob/master/INSTALL.md) file).
If you want instead to apply a quick fix, you can replace the `scripts` folder with the new o

[2016-06-29 08:37] mindaugasDEV commented on #147
I tried (overwrote SCRIPTS folder with new files), then recompiled.

First it complained that no TMX14.dtd is found (then I added the missing file, also attached here

), later it gave the below message:
ERROR Unexpected exception:
	SAXParseException('error in processing external entity reference',)
Traceback (most recent call last):
  File "./mmt", line 440, in <module>
    main()
  File "./mmt",

[2016-06-29 08:43] mindaugasDEV commented on #147
Our TMX is created with Xbench program (www.xbench.net), I noticed that tmx14.dtd version on the web differ. Maybe you can try with your TMX file and then include DTD version in the MMT release @davidecaroselli :)

[2016-06-30 08:59] davidecaroselli commented on #147
Hi @mindaugasDEV

can you share the TMX in order to let me reproduce the bug? Of course you can "anonymize" it if it's a private TM. I suspect that's some kind of different XML header that is producing the issue because the fix worked without problems with the TMX files I use for training the engines.

Cheers

[2016-06-30 15:04] #148 closed

[2016-06-30 15:25] davidecaroselli commented on #147
@mindaugasDEV

finally I've finished to fix the TMX support. Thanks to your feedback, I was able to fix a series of small bugs that prevented the tmx import to complete successfully.
Now the system is able to import your TM (changing the lang from LT to another supported language).

In order to test the fixed version of the software, you can follow the [instruction here](https://github.com/ModernM

[2016-06-30 17:24] davidecaroselli commented on #146
@mindaugasDEV

Starting from commit https://github.com/ModernMT/MMT/commit/b0d04c6d02c5b3d4b4070de00ae3faee6f72a6b0 MMT has a default Tokenizer implementation that is used when no language-specific implementation is available.

So you can now train MMT on any language pair :)

[2016-06-30 17:24] #146 closed

[2016-06-30 17:42] davidecaroselli commented on #146
In theory yes, but with the actual implementation of MMT tokenizers there should be no much differences with a generic implementation. The difference between the generic one and, i.e. FI, is a list of unbreakable words. This list, as you can imagine, is very language specific so it's hardly reusable.

All the generic best-practices for tokenizations are already included in the "generic implementat

[2016-06-30 17:44] mindaugasDEV commented on #146
Ok!:)

[2016-06-30 19:31] mindaugasDEV opened #149 "MMT evaluate tells BLEU score, but gives error about Python update too"
Hello

We have installed MMT on Ubuntu 14.04 and followed installation instructions closely.
We built EN LT engine and it worked fine. Then we ran evaluate command and got error message.
Shall we update Python?

 InsecurePlatformWarning
/usr/local/lib/python2.7/dist-packages/requests/packages/urllib3/util/ssl_.py:122: InsecurePlatformWarning: A true SSLContext object is not available. This prevent

[2016-07-01 08:17] davidecaroselli commented on #149
Hi @mindaugasDEV

the version of python I use is "Python 2.7.6". In order to solve this issue you can either upgrade to 2.7.9 or, much more simpler, you can disable these warnings setting the following environment variable (as reported [here](https://urllib3.readthedocs.io/en/latest/security.html#disabling-warnings)):

[code]

Let me know if this solved the problem.

[2016-07-04 09:01] #149 closed

[2016-07-04 09:02] davidecaroselli commented on #149
I close the issue because a solution has been provided, if the provided solution has some problems, please, reopen this issue.

[2016-07-05 15:06] cattoni opened #150 "found (and fixed) problem in MuxLM with mixed-order LMs"
The computation of the MuxLM score appears wrong when Multiplexer combines LMs that have different order (e.g. some LMs are 3grams and some LMs are 5grams).

Basically the reason of the problem is that given a targetPhrase the "ngramScore" values to be combined (e.g. with LinearInterpolation) may represent different info according to the lenght of targetPhrase and the order of LM:  if ngramScore i

[2016-07-05 16:18] davidecaroselli commented on #150
Hi @cattoni

you can push your fix inside https://github.com/ModernMT/mosesdecoder in a new branch (made starting from mmt-official) and I would take care of testing the solution within MMT and integrate the fix at last.

Can you send me the mosesdecoder branch name as soon as you're ready?

Thank you!

[2016-07-05 17:37] cattoni commented on #150
Thanks @davidecaroselli !

I've just pushed on  https://github.com/ModernMT/mosesdecoder the new branch named
**fix_MuxLM_mixed_order**, made branching mmt-official and applying the fix.

[2016-07-06 10:41] davidecaroselli commented on #150
@cattoni  I've tested the fix: everything worked as expected! I've merged the fix in **mosesdecoder/mmt-official** and integrated in MMT with the commit https://github.com/ModernMT/MMT/commit/c3ccaeee81554b4f97ec57ad9cd40d64d72b9e87.

Thanks for the contribution!

[2016-07-06 10:41] #150 closed

[2016-07-08 11:19] wsuphappyhour opened #151 "Engine training time"
Hi,

We recently trained engine and it took only ~25min to train. Engine itself works and translates OK. The time spent just surprises me. With other MT solutions which use Moses it takes +12h to train.
Bilingual data contains around 46M words and  monolingual around 78M words.
All data is around 1GB.
PC resources:
![image](https://cloud.githubusercontent.com/assets/20355306/16685880/c5d42188-4516

[2016-07-08 14:01] davidecaroselli commented on #151
Hi @wsuphappyhour

thank you very much, it's really great to hear that all the work we've done is appreciated, it means we are working in the right direction! ;)

Cheers

[2016-07-08 14:01] #151 closed

[2016-07-10 09:29] kmlx opened #152 "IOError: [Errno 28] No space left on device"
Hi,

I was playing around with MMT and this happened:

[code]

Could somebody provide some context as to when this error occurs?
As you can see from ```df -h``` there should be enough space.

[2016-07-10 11:02] kmlx commented on #152
I've noticed how disk space shrinks during training. While expected, a warning at the start of training would help in avoiding errors popping up after hours of training; the only mention of disk space usage can be found in this file at the very top: https://github.com/ModernMT/MMT/blob/master/INSTALL.md
This disk space warning could be static text at first, and ideally, later on, dynamic based on

[2016-07-11 09:08] wsuphappyhour opened #153 "MMT engine stops randomly while translating continuously."
Hi,

I made up batch test file to translate 6,000+ lines, but the engine stops randomly.
Error I get:
0curl: (7) Failed to connect to localhost port 8045 connection refused
No JSON object could be decoded

Batch file sample:

curl "http://localhost:8045/translate?q=KALEOS%20warranties" | python -mjson.tool >> MTTESToutput.txt
curl "http://localhost:8045/translate?q=We%20thank%20you%20for%20your%20

[2016-07-11 09:48] wsuphappyhour commented on #153
It seems this line was causing engine to stop:
As I suspect it is due line lengh? Can you confirm it?
curl "http://localhost:8045/translate?q=Greater%20dialog%20in%20research%20targeted\u003ABayer%20supports%20innovative%20ideas%20in%20crop%20protection%20Grants4Targets%20program%20aims%20to%20foster%20new%20approaches%20in%20chemical%20crop%20protection%20Financial%20and%20contentual%20support%20

[2016-07-11 15:18] cattoni opened #154 "mmt evaluate: dirs MMT/ and MMT.raw/ appear the same"
This is a minor issue.

During 'mmt evaluate', the two directories
[code]
appear to have the same exact content, file by file.

Are both of them still useful?
Or are they legacy code related to tokenized/detokenized output?

By the way, the other two directories
[code]
have different content.

[2016-07-12 18:02] kmlx opened #155 "mmt train: invalid warning "WARNING: more than 12G of RAM recommended, only 11G available""
MMT produced "WARNING: more than 12G of RAM recommended, only 11G available" even though machine has 64G RAM with 60G free.
[code]

MMT should check the output of ```free -m``` or other similar tools.
More info regarding linux memory caching available here: http://www.linuxatemyram.com/

[2016-07-13 16:46] cattoni opened #156 "differences between Binary distribution and Contributor distribution"
Using exactly the same engine (i.e. the same models and .ini files), the binary distribution and the distribution from source (for contributors) report different BLEU scores at the end of the same 'mmt evaluate' task.

By inspecting quickly code and translations, it emerges that:
1. mmt-bleu.perl is different in the two distributions;
2. some files in the two $MMT_HOME/runtime/ENGINE/evaluation/tr

[2016-07-14 12:33] #153 closed

[2016-07-15 08:47] wsuphappyhour opened #157 "Question: What's the purpose of tags-projection?"
Hi @christianbuck,

Could you please describe what is the purpose and future implementation of tags-projection?
I can only speculate few possibilities with matecat.

Thank you!
Have a nice day

[2016-07-18 08:59] davidecaroselli commented on #152
Hi @kmlx

a dynamic control on the disk space is already present, unfortunately it cannot be 100% precise: it depends on the data format and the specific corpus your using.

I suspect that this check has failed in your case. Can you please report the output of the commands `du -b traindata/`, `tree traindata/` and `df ModernMT`?

Thanks!

[2016-07-18 09:02] davidecaroselli commented on #155
Thanks for the report @kmlx.
The bug, as you suggested, is that MMT is checking the Mem-free column instead of the -/+ buffers/cache column.

I'm fixing this asap.

[2016-07-18 09:12] #155 closed

[2016-07-18 09:18] mfederico commented on #155
free -m is not portable under Mac OSX.

[2016-07-18 09:23] davidecaroselli commented on #155
@mfederico you're right,

but the current version of MMT runs only on Ubuntu so, for the moment, we decided to use this platform dependent executable knowing that we have to implement a more portable way to get free memory when we're going to move to other platforms.

[2016-07-18 09:24] mfederico commented on #155
Just for the record:
http://apple.stackexchange.com/questions/4286/is-there-a-mac-os-x-terminal-version-of-the-free-command-in-linux-systems

[2016-07-18 09:38] davidecaroselli commented on #154
Hi @cattoni

in the current version these two folders are identical, but this could change in the future.
In the ".raw" folder you can find the translation that the Engine has printed as they are, without any transformation. The other folder instead contains the same translation but processed with an XML-encoding normalizer.

In fact, different engines can encode the same XML entities in different

[2016-07-18 09:38] #154 closed

[2016-07-18 10:01] davidecaroselli commented on #156
Hi @cattoni

having the latest release that differs from the latest master/develop commit (aka distribution from source) is perfectly normal so no worries that,  even with the same models, the engine produces slightly different translation.

Also using the same models sometimes cannot work properly: if we changed any tokenization rule,  the pipeline used during translation differs from the one use

[2016-07-18 10:04] davidecaroselli commented on #153
I confirm that the problem occurred because line length.
Thanks for the report!

[2016-07-18 10:18] cattoni commented on #156
Hi @davidecaroselli
Thanks for the explanations.
So the latest release is updated much less frequently than the master/develop commit.

Concerning the mmt-bleu script, could we expect that latest release will include the (fixed) version or is this operation postponed til 0.14 release?

[2016-07-18 10:58] davidecaroselli commented on #156
I think we will release a 0.13.x version very soon in order to include several fixes and enhancements we have done in the last month.

Anyway, if you want to be always updated with the latest fixes, I suggest that you keep your local github repo in sync with master branch and periodically rebuild the engine, that's the best option for a MMT developer.

cheers

[2016-07-18 11:48] cattoni commented on #156
I've tested the difference between release and master/develop commit because of our HPC cluster: on it github cannot run, so my original idea was to port the release.

Now I think that the best way is to port on Kore the same master/develop commit I use on the AWS machine (that is the one I use for development/test): in this way if the port succeds we have the same development environment.

[2016-07-18 12:30] #156 closed

[2016-07-18 14:15] mfederico commented on #157
Hi, the goal would be to keep tag management outside the decoder, and handle this part entirely via pre-/post-processing: 1. remove tag MT input, 2. word align input and MT output, 3. transfer tag from input to MT output.

[2016-07-19 07:26] cattoni opened #158 "mmt start: parameter -v does not change the verbosity level"
It appears that using the parameter "-v" in "mmt start" does not influence the verbosity level in the

`${MMT_HOME}/runtime/${ENGINE_NAME}/logs/node.log`

file.

The only way I've found to change the verbosity level is to modify the [verbose] attribute in the

`${MMT_HOME}/engines/${ENGINE_NAME}/models/moses.ini`

file.

[2016-07-19 07:28] nicolabertoldi commented on #158
Have you tried with “—verbose”?

[2016-07-19 07:37] cattoni commented on #158
I've also tried "--verbosity" as reported by the online help: it doesn't work too.

The parameter "--verbose" causes an error "unrecognized arguments" -- this is consistent with the online help.

[2016-07-19 08:31] wsuphappyhour commented on #157
Thank you for your answer!
Have a nice day

[2016-07-19 08:31] #157 closed

[2016-07-19 08:31] wsuphappyhour commented on #153
Thanks!

[2016-07-19 10:24] davidecaroselli commented on #158
The `-v` option of MMT set the verbosity level of the MMT log, not Moses.
This is a design choice because, for the moment, the Moses log is incredibly verbose, even at low level. Furthermore, it lacks of a proper logging framework, the result is that the text is simply outputted to stderr without any criteria, resulting in mixed text between Moses output and MMT.

For this reason we choose to keep

[2016-07-19 10:25] cattoni commented on #158
ok, thanks.

[2016-07-19 14:32] wsuphappyhour opened #159 "Question: Preparering data for training, numbers and NTA elements"
Hi,

I have question regarding training data, some engines based on Moses have difficulty to  preserve numbers and NTA elements (i.e AR1000, AR-1000, AR1000AR etc.) in translation.
For example test in MMT:
![image](https://cloud.githubusercontent.com/assets/20355306/16952942/fd82c196-4dd3-11e6-8e04-69ad74793268.png)

You will see that numbers randomly get changed:
2.1 to 0 0
1.6 to 0 0

So should

[2016-07-19 15:14] #158 closed

[2016-07-20 12:46] davidecaroselli commented on #159
Hi @wsuphappyhour ,

MMT has already a NumericalExpression module that handle generic numerical expression. So you don't have to do anything in the training data, you should keep the numbers unchanged.
The module we implemented is able also to learn from the training set any language specific numerical encoding, for example it is able to learn and translate the decimal and thousands separators for

[2016-07-20 13:07] wsuphappyhour commented on #159
Thanks!

[2016-07-20 13:07] #159 closed

[2016-08-05 13:29] wsuphappyhour opened #160 "Help needed with context, context-file, context-array parameters"
Hi,

I am trying to figure out how to correctly use context-file and context-array in API call. So far I can use context parameter and I get the desired/correct output of ModerMT:
![image](https://cloud.githubusercontent.com/assets/20355306/17437153/9ae5f298-5b24-11e6-8177-087600a404d1.png)
But when I try to use context-file or array I get simple output:
![image](https://cloud.githubusercontent.co

[2016-08-09 07:50] cattoni opened #161 "mmt tune: set default iterations to 10 and add option --maximum-iterations"
Currently "mmt tune" can run up to 25 iterations and user can't reduced them.

Please limit to 10 the maximum number of iterations and add in "mmt tune" the parameter
`--maximum-iterations`
so that user can furterly limit then.
Such parameter interfaces directly with mert-moses.pl

Thanks

[2016-08-09 08:42] cattoni commented on #161
To be more clear: having the --maximum-iterations parameter in "mmt tune" allows users to set the maximum number of iterations to a value different from default (such value can be higher or lower than default value).

Concerning which is the appropriate value for the default number of iterations (10 or 25 or ...): esperience of people with more experience on mert issues can provide this info.
For

[2016-08-09 13:12] cettolo commented on #161
The Foster&Kuhn paper (WMT, 2009):

http://www.aclweb.org/anthology/W09-0439

analysed the instability of MERT. Successively, in:

http://www.mt-archive.info/MTS-2011-Cettolo.pdf

we proposed and experimentally compared  two methods for overcoming that issue, one of them being the weight averaging mentioned by Roldano. Randomly changing the starting point of MERT, quite large changes of the BLEU s

[2016-08-09 15:07] cattoni opened #162 "non-deterministic training and evaluation on small data?"
This is more a question than an issue...

While working with the provided small data set
`${MMT_ROOT}/examples/data/train/ `
two non-deterministic behaviours appear to emerge:

1. two invocations of "mmt create" with the same training data above produce two engines that slightly differ; namely the different files are:
      - engines/${NAME}/models/context/index/_0.si
      - engines/${NAME}/model

[2016-08-10 16:26] memoday opened #163 "How to use MMT with current translation tools like Trados or MemoQ?"
Hi support team,

First, thanks for providing such great MT engine. It looks very promising.

Is there any instructions on how to connect MMT with Trados or MemoQ? What about MateCat?

One more thing: I assume MMT supports Arabic as well. Please correct me if I am wrong.

thanks,
Mohamed

[2016-08-10 17:35] davidecaroselli commented on #152
Closing for inactivity. If you have new data,  please, reopen this issue.
Thank you.

[2016-08-10 17:35] #152 closed

[2016-08-10 18:02] davidecaroselli commented on #160
Hi @wsuphappyhour

here's some examples that work with the data in `examples/data/train/`:

**CONTEXT ARRAY**
[code]
The array sent is `[{"id": "europarl","score":1.0}]`. The current version of the API does not output back the context passed, this is a bad design choice and it will change in future release.

**CONTEXT FILE**
In order to get the context weights out of a text file you have to use th

[2016-08-10 18:18] davidecaroselli commented on #163
Hi @memoday
Thanks for all the compliments, regarding the integration of MMT with Trados, MemoQ and MateCat: this is definitely a goal of the MMT project and we're going to develop plugins for the integration with the major cat tools.

At the moment we don't have any instructions to do that, the only public available interface is the REST Api.

Regarding Arabic: we have integrated an arabic tokeni

[2016-08-11 02:50] memoday commented on #163
Thanks Davide for your prompt reply. I appreciate it.

It's really good to know that you are working on plugins to support major CAT tools.  It's also great to know that Arabic is supported as well :-)

What about the integration with MateCat?

Do you have a road map?

Thanks again for your hard work and supporting the open-source community with all your amazing projects.

Kind regards,
Mohamed

[2016-08-16 08:10] davidecaroselli commented on #163
Currently there is no public roadmap for the MateCAT integration, we are currently working in implementing an online learning system that can dynamically update its models. As soon as we'll have a product that is stable enough, we're going to develop the CAT tools plugin.

Thanks for your support Mohamed!
Regards,
Davide

[2016-08-17 03:57] memoday commented on #163
Thanks Davide for the update. Wish you best of luck!
Thanks,
Mohamed

[2016-08-17 12:59] cettolo commented on #161
By the way, the option of mert-moses.pl to have deterministic MERT runs is "--predictable-seeds" which "provide[s] predictable seeds to mert so that random restarts are the same on every run". If it is not specified, in general different MERT runs give different optimal weights.

[2016-08-18 14:31] cidermole commented on #162
Roldano,

The suffix array phrase table random sampler is initialized deterministically, i.e. every moses run should produce exactly the same results on the same data.

I don't know about fast_align, which seems to have produced the difference in `model.align.fwd`, `model.align.bwd`. Is the word alignment in `phrase_tables/model.en-it.mam` the same?

[2016-08-20 09:51] cattoni commented on #162
HI David

Thanks for the explanations about the suffix array. So behaviour2 (non-deterministic translations) is not caused by SA random sampler.
I wonder which component is causing different translations with the same models...

Concerning the `phrase_tables/model.en-it.mam` file, it is binary and I don't know how to inspect it.
In any case the file is the same in the two engines.

[2016-08-22 07:55] #160 closed

[2016-08-22 07:55] #163 closed

[2016-08-25 09:14] mehmedes opened #166 "Tree-based decoding"
First of all, congratulations for this outstanding project. Creating a machine translation engine has never been this easy! The translations results are remarkable.

When translating form English into German, I've encountered some issues with verbs. If the verb consists of several parts, only the first part is translated. For example, "the door opens quickly" is translated as "Das Tor geht schnell

[2016-08-25 09:34] mfederico commented on #166
Hi @mehmedes and thanks for your comment. Tree-based decoding is not an option with MMT.
From September, we will start experimenting MMT with English-German, too.  Yes, the kind of error
you describe could be partially due to limitations of the phrase-based approach: the word "opens" aligns to two non-contiguous phrases "geht" and "auf", and during decoding only one-to-one phrases are generated. H

[2016-08-25 10:34] mehmedes commented on #166
Thanks for your quick reply. I’m looking forward to it. You do a great job!

I was wondering whether there could be any improvements if I increased/reduced the number of n-grams.

[2016-08-26 16:56] #166 closed

[2016-09-03 13:46] mehmedes opened #167 "Translation Speed"
I've built an English German engine with about 35 GB training data. I'm using an Azure VM with a 16 cores CPU, 112 GB RAM, and a 1 TB SSD. It took me about two days to train and tune the engine, which delivers great results. The current Bleu Score is  about 35.

The only issue I have with this engine is translation speed. It takes me about a minute to get the translation of a sentence. How can I a

[2016-09-04 12:13] marcotrombetti commented on #167
There is probably something going wrong, I would expect from 0,3s to 5sec for 35GB of data.
Training also was 2-4x slower than I expected but this could be due to the low clock of those Azure CPUs.

For Translate, I think there is a process lock somewhere.

Can you tell us:
Are you using MMT 0.13?
When the translation is running does CPUs run all the time at 100%?
How many source words in parallel

[2016-09-05 10:54] mehmedes commented on #167
Thanks for your quick reply.

I’m using MMT 0.13. During the translation process the CPU usage is below 3 %. When I trained the engine, CPU usage was about 80 %.
My engine is based on literally all English-German corpora provided by OPUS. Besides, I’ve added the English-German Common Crawl corpus and the monolingual News Crawl corpora 2007-2014 provided in the ACL 2016 translation task<http://www.

[2016-09-05 14:18] davidecaroselli commented on #167
Hi @mehmedes

As @marcotrombetti said there is definitely something wrong during the execution. The first thing that popped in my mind is available RAM. MMT can require pretty much RAM for such model.
If it's possible for you, I would suggest to:
- Stop your VM instance
- Change instance type to r3.8xlarge (**BE CAREFUL**: this is instance is **very expensive**)
- Start your VM instance
- Run your

[2016-09-05 14:22] mehmedes commented on #167
That’s true. The RAM size may not be sufficient. During the translation process, RAM usage reaches up to 80 %.

Von: Davide Caroselli [mailto:notifications@github.com]
Gesendet: Montag, 5. September 2016 16:18
An: ModernMT/MMT
Cc: Sariyildiz, Mehmed X; Mention
Betreff: Re: [ModernMT/MMT] Translation Speed (#167)

Hi @mehmedes<https://github.com/mehmedes>

As @marcotrombetti<https://github.com/marc

[2016-09-05 14:54] mehmedes commented on #167
*   Run your translation benchmark (can still be slow due empty cache)
  *   Run again the same translation benchmark and measure translation speed
When I run the same translation benchmark, the translation takes less than a second. So it’s all about the more I translate, the faster the translation of new sentences?

Von: Davide Caroselli [mailto:notifications@github.com]
Gesendet: Montag, 5. Sept

[2016-09-05 15:08] davidecaroselli commented on #167
Yes, some of the models are Memory-Mapped, this means that they are not completely loaded at startup, but the memory-pages are loaded as soon as translation requests are served.

So after a while MMT has completely loaded its models in RAM and the system is at its maximum speed capability.

- Davide

[2016-09-05 15:12] mehmedes commented on #167
Thanks!

This explains why translations have gotten quicker after several tests.

Von: Davide Caroselli [mailto:notifications@github.com]
Gesendet: Montag, 5. September 2016 17:09
An: ModernMT/MMT
Cc: Sariyildiz, Mehmed X; Mention
Betreff: Re: [ModernMT/MMT] Translation Speed (#167)

When I run the same translation benchmark, the translation takes less than a second. So it’s all about the more I t

[2016-09-05 15:16] #167 closed

[2016-09-21 10:02] cidermole opened #169 "Manage rsync process from java"
When java exits, rsync process should be killed as well.

You probably want to run rsync with `--no-detach` (do not detach from the parent) so it remains a child process.

Probably needs an exit handler from Java.

[2016-09-27 08:07] r0n13 opened #170 "Unable to run example in version MMT 0.13"
With a fresh installation of Ubuntu and MMT, I get an error when I try to create an engine as in the example in `README.md`. This is the command and the output:

[code]

[2016-09-27 08:36] davidecaroselli commented on #170
Hi @r0n13

we found out that the functions used in file `fileutils.py` are not very stable, this has been fixed in current master branch. Can you please try replace the file `MMT/scripts/libs/fileutils.py` with this version: [fileutils.py.zip](https://github.com/ModernMT/MMT/files/494960/fileutils.py.zip) ?

Let me know if this fixed the issue,
Thank you.

Davide

[2016-09-27 08:47] r0n13 commented on #170
Thanks @davidecaroselli for the quick response. That worked! 👍

[2016-09-27 08:49] davidecaroselli commented on #170
Great!

[2016-09-27 08:49] #170 closed

[2016-09-28 16:08] cattoni opened #171 "training many domains: failure of CA step (too many open files)"
Training a system with 6090 domains (= 6090 bilingual corpora) failed during the step
   (4 of 7) Context Analyzer training
as follows

The log reports a problems related to the numerb of files (too many):

The system limit is 1024, that is the command

[code]

Does Lucene open all the files simoultaneously? This would explain the the error.
In this case is there any way to constrain Lucene to use

[2016-09-28 19:12] cattoni opened #172 "API "translate" returns domain numbers instead of names"
The translate API now returns domain numbers, it should returns domain names.

For example the invocation reported in the README.md

`curl "http://localhost:8045/translate?q=world&context=computer" | python -mjson.tool`

returns
[code]

where domain with "id":1 should be "ibm" and "id":3 should be "europarl".

BY the way @davidecaroselli @nicolabertoldi  : is there a script/utility to get the map

[2016-09-29 08:00] davidecaroselli commented on #171
Hi @cattoni

for sure we have to add the option to limit the amount of open files in MMT. BTW in production environment, for performance reason, is a good idea to have that limit increased and let the program to handle more open files at the same time.

For your testing purpose I'd suggest to change that limit to a high value so not to have annoying error messages anymore.

Davide

[2016-09-29 08:06] davidecaroselli commented on #172
Hi @cattoni

in the new incremental version, that has not been published yet, the domains are always identified by a sequential id, we must add the name information in that API as you suggested.

By the way to get the full list of domains you can query MMT with this API:
[code]

in a shell:

[code]

hope this help!
Davide

[2016-09-29 08:07] cattoni commented on #171
Thanks @davidecaroselli

I've set in  /etc/security/limits.conf
[code]
and the training completed successfully

[2016-09-29 08:11] davidecaroselli commented on #171
👍

[2016-09-29 08:50] cattoni commented on #172
Great! thanks @davidecaroselli

[2016-09-30 12:35] cattoni opened #173 "some binaries do not find librockslm.so and libfastalign.so"
The following binaries under $MMT_HOME/build/bin
`create_alm, create_slm, fa_align, fa_build, query`
fail because they don't find a lib (either librockslm.so or libfastalign.so), even though such libs are present in $MMT_HOME/build/lib

The binaries work correctly after setting
`export LD_LIBRARY_PATH=${MMT_HOME}/build/lib`

[2016-10-07 09:55] davidecaroselli commented on #173
Hi @cattoni

those binaries are meant to be used by MMT for training. In order to be used also directly from command line you have to export the LD_LIBRARY_PATH like:
[code]

[2016-10-07 09:55] #173 closed

[2016-10-10 10:18] wsuphappyhour opened #174 "Hi, we noticed that Matecat alters .ttx file's header. Is it possible to prevent that?"
Hi, we noticed that Matecat alters .ttx file's header. Is it possible to prevent that?

Original on the left side.
![image](https://cloud.githubusercontent.com/assets/20355306/19232992/7d419fda-8eeb-11e6-8b02-905b14db6d3d.png)
[Changes.zip](https://github.com/ModernMT/MMT/files/519276/Changes.zip)

Thanks!

[2016-10-10 10:23] davidecaroselli commented on #174
Hi @wsuphappyhour

probably you've posted this issue on the wrong board :)
MateCAT has a totally different dev-team than MMT, so please re-post this issue on the MateCAT board.

Thank you!

[2016-10-10 10:23] #174 closed

[2016-10-10 10:24] wsuphappyhour commented on #174
Sorry, my bad.

[2016-10-17 10:41] wsuphappyhour opened #176 "Bug: We noticed that after translation there's still to-do words and only "preview" option is available"
Hi,
We noticed that after translation(all segments are approved and revised) there's still to-do words and only "Preview" option is available not "Download Translation".

![image](https://cloud.githubusercontent.com/assets/20355306/19434565/e5198fa4-946e-11e6-92d5-021dd2ef373a.png)

![image](https://cloud.githubusercontent.com/assets/20355306/19434577/f6fcf5bc-946e-11e6-831e-d317259461d8.png)

Tha

[2016-10-17 10:45] davidecaroselli commented on #176
Hi @wsuphappyhour

probably you've posted this issue on the wrong board :)
MateCAT has a totally different dev-team than MMT, so please re-post this issue on the MateCAT board.

Thank you!

[2016-10-17 10:45] #176 closed

[2016-10-20 10:58] #172 closed

[2016-10-24 00:33] marcotrombetti commented on #171
@davidecaroselli please add a note to the INSTALL documentation

[2016-10-24 14:04] davidecaroselli commented on #171
@marcotrombetti done!
https://github.com/ModernMT/MMT/blob/master/INSTALL.md#max-open-files-limit

[2016-10-27 07:42] cattoni opened #177 ""fa_build" appears to be not thread-safe"
Given the same input models (with parameter "-s" and "-t"), the executable "fa_build" produces the files "forward.fam" and "backward.fam" that change every time the command is invocated.

The only way to make "fa_build" generate the same "*.fam" files is to set the optional parameter '-n' to  1, i.e. set the number of thread to 1 (== no multi-threading).
Any other setting (li.e. leaving number of

[2016-10-27 08:09] cattoni commented on #162
Relevant update on this issue: I've found the way to make the create+tune+evaluate pipeline produce the same results on the MMT example data.

There are two changes in the default python scripts:

1. script ${MMT_HOME}/cli/mt/phrasetable.py , line 63:
add parameter '-n', '1' in the "fa_build" invocation
This makes "fa_build"  mono-thread and safe (cfr. issue #177)

2. script ${MMT_HOME}/cli/cluste

[2016-10-27 15:35] nicolabertoldi commented on #162
Point 2 is definitely a good solution
and I suggest to put it as default in MMT,
keeping the possibility of changing the behaviour through any parameter in the configuration file

Regarding point 1,
I think that mono-threading in fa_build is not a good solution because training time increases too much
I would suggest to investigate (and solve) this “bug” about thread-safety.
If I well remember, we

[2016-10-27 15:47] nicolabertoldi commented on #162
Sure, with pleasure -- I like mult-threading :-)

I would keep as higest priority the porting of MMT on RedHat 7.2 (and
specifically on our Kore cluster) so that people here can use MMT on the
cluster in addition to AWS machines, improving efficiency and reducing
costs.
But I can also work in parallel on the issue #177.

Best

  Roldano

On Thu, Oct 27, 2016 at 10:36 AM, Nicola Bertoldi <bertoldi@

[2016-10-28 14:18] davidecaroselli commented on #162
Hi guys!

I close this issue because we've found the cause and we're working on it in issue #177
Thanks @cattoni for having debugged it!

Davide

[2016-10-28 14:18] #162 closed

[2016-10-28 14:21] davidecaroselli commented on #177
Hi @cattoni !

Can you and @nicolabertoldi work on this? It's low priority because this bug does not lower the quality significantly.

Davide

[2016-11-01 20:04] vince62s opened #179 "example quick start"
Hi,
I installed a fresh new Ubuntu 14.04 and followed the full steps (build from source).
Running the example given in the repo.
First start:
create OK, start OK, translate hanging with java process < 3% during for ever. I stopped it
I rebooted
Second start:
start OK, translate OK "hello world" => "hello mondo"
add (ciao) OK but taking quite long (>20 seconds)
translate: no change "hello mondo" no

[2016-11-01 22:08] vince62s opened #180 "incremental training clarification"
Hi,
Just to make things clear. If for a given engine I have at time t=0 domainA.en and domainA.it
I create the engine and if later on I have 2 more files domainB.en and domainB.it that I drop in the same folder. will ./mmt create start from scratch or do incremental training ? or can we use the ./mmt add command with "files" ?
thanks

[2016-11-02 08:11] vince62s commented on #179
correction:
After another dist-upgrade and reboot, it works as expected and quite fast.

[2016-11-02 09:31] czester13 commented on #179
Hi vince62s,
Do you have version compiled from the source or binary distribution? I'm asking about it because I have the same problem - wrong incremental translation and slow adding translations. I have newest binary installation so I don't know what to do to upgrade my system. Would you say more how did you fix this problem?
Regards,
Thomas

[2016-11-02 17:15] cattoni opened #181 "add "x86_64" in HW Requirements of Install.md"
Today a collegue of mine tried to install MMT on a Ubuntu 14.04 machine in the cloud.

After some troubles I helped him and we discovered he was using a *32 hardware-platform instead of *64.

Actually the Install.md file is missing this information explicitely -- well, it could be deducted from the paragraph about Java versions.

I think it is better to add explicitely in the HW Requirements secti

[2016-11-02 17:17] marcotrombetti commented on #181
Roldano,

Thanks, please fill free to modify the Install.md on github master.

Marco
On Wed, 2 Nov 2016 at 18:15, Roldano <notifications@github.com> wrote:

[2016-11-02 17:19] cattoni commented on #181
Good.
I do it immediately.

  Roldano

[2016-11-02 17:34] cattoni commented on #181
Committed and pushed the branch 'develop'.
I don't' have the permission to push the branch 'master' -- and probably this is good :-)

Roldano

[2016-11-02 20:02] vince62s commented on #179
did you reboot then update / dist-upgrade, reboot again ?
I compiled from source, but the behavior was actually strange.
after the 2 reboots it worked fine.

[2016-11-02 20:48] marcotrombetti commented on #180
First sorry, being this a functionality of the Alpha release it has not been documented yet.

If you run
[code]
you are building from scratch a new engine with DomainA+DomainB

If you want to add data you can use the command line
[code]

Or use the [API](https://github.com/ModernMT/MMT/wiki/API-Documentation#add-a-sentence-to-a-domain-incremental-learning)

[2016-11-02 21:03] marcotrombetti commented on #179
@davidecaroselli I also had the problem and it looks similar to the problem we had at the AMTA tutorial.

Adding priority for the 0.14

[2016-11-02 21:08] vince62s commented on #180
Thanks Marco. Your link is dead but if this is your video I watched it.
I was able to train a model with > 20 Mio segements, took some time.
One thing could be helpful though, it's to log some stats about the number of segments imported, size of the PT or SAPT, number of n-grams for the LMs ...
It is now difficult to size properly the RAM when you load the model.

Actually my model loading just cr

[2016-11-02 21:48] cattoni commented on #180
Hi @vince62s

I confirm the first link is dead.
But the second one about the API is working:

Hopefully you can find it useful.

[2016-11-02 22:04] marcotrombetti commented on #180
Link to tutorial fixed.

Thanks for the pruning tip, to @davidecaroselli the final decision.

This alpha was very basic to allow the tutorial at AMTA. In a few weeks we should be able to push a solid and documented build.

[2016-11-03 08:44] #180 closed

[2016-11-03 08:44] nicolabertoldi opened #183 "failure of vbdecode"
When vbencode is required to decode a value between  2^31   and  2^32-1, it fails as follows
echo '4284967295' |    vbdecode              models/vocabulary/
terminate called after throwing an instance of 'std::out_of_range'
  what():  stoi
Aborted (core dumped)

The reason is the following:
- the input number (coming from a previous encoding) is expected to be a wid_t (i.e. uint32), so it ranges b

[2016-11-03 08:48] vince62s opened #184 "Big model use case"
Hi,
I successfully built an engine with 9 tmx sources totalling 23 Mio segments, and one text source (news shuffle) of 1.5 GB for monolingual extra data.
the engine folder totals 50 GB of which 15GB for the LM and 35 GB for the Sapt files.

I kept increasing the memory up to 90 GB of ram.

Never loaded the model successfully.

I am rebuilding with less data right now.

Just curious if you guys loa

[2016-11-03 08:56] #183 closed

[2016-11-03 11:01] davidecaroselli commented on #179
Hi guys!

I suspect we have a race condition at the MMT launch, and not all its components are starting correctly. Could you please attach the log file `mmt/runtime/default/logs/embedded-kafka.log` ?

Thanks!

[2016-11-03 11:29] vince62s commented on #179
here you go.

[2016-11-03 11:29] davidecaroselli commented on #181
just merged into master, thanks @cattoni !

[2016-11-03 11:29] #181 closed

[2016-11-03 11:30] davidecaroselli commented on #179
Hi @vince62s , no file attached

[2016-11-03 11:34] davidecaroselli commented on #184
Hi @vince62s ,
we're currently testing MMT with very large models. I think @cattoni has some results on this topic.
By the way, this is the activity we need to perform in order to make a production-ready release, so it's definitely in our roadmap.

[2016-11-03 11:37] vince62s commented on #184
update:
I divided the data by half, leading a engine folder size of 23 GB.
Model loads perfectly but takes twice the size in memory.
I did not expect this behavior.

[2016-11-03 11:40] vince62s opened #185 "Apostrophe de-Escaper for output"
Hi (it's me again :)
My first test with a big model (english to french) seems to output with no escaper at detokenization step.
egs:
l&apos;intention
instead of
l'intention
unless there is an option to force it.
Cheers,
Vincent

[2016-11-03 11:51] davidecaroselli commented on #179
ok, so this log suggests that everything is working as expected. Is this the log from the MMT run that presented the slow(no)-update problem?

[2016-11-03 11:58] vince62s commented on #179
of course, sorry for this.
It did not work tuesday night, but then after a reboot I "recreated" the default model yesterday morning.
So yes this is the log of the last build that worked. It overrid the previous one.

[2016-11-03 13:05] vince62s commented on #179
Davide, I am rebuilding a new VM from scratch and will give you the detailed log.

[2016-11-03 13:15] davidecaroselli commented on #185
Hi vince (again :) )!

probably you meant that the output is: **l&amp;apos;intention** instead of **l'intention**.
This is not a bug: the output of MMT is XML, in fact you can request the translation of text with html or, more in general, xml.

Because of this feature, MMT **must** escape raw text as defined in the XML standard, otherwise you won't be able do distinguish between text and xml.

e.g

[2016-11-03 13:19] davidecaroselli commented on #179
Thanks vince62!

Actually the bug should be observed in the `mmt start` part; so you can reuse the same models, they're just perfect as they are!

so if you execute something like:
[code]
and the last command takes too much time (normally takes **less than a second**), you've hit the bug! In this case, if you could provide the content of the file `mmt/runtime/default/logs/embedded-kafka.log` and t

[2016-11-03 13:32] vince62s commented on #179
no it's fast now.

[2016-11-03 13:37] vince62s commented on #185
oh this was in command line ./mmt translate
are you saying this has also to be XMLed for input and output ?
thanks

[2016-11-03 13:48] davidecaroselli commented on #185
oh yes, sorry for not mentioned it.
`mmt translate` is just a "nice interface" to MMT [Translation API](https://github.com/ModernMT/MMT/wiki/API-Documentation#translation-api), so it supports all the features of the regular MMT translate.

Event with `mmt translate` you can safely pass xml text and it will translated without problems!

[2016-11-03 14:34] vince62s commented on #184
good to know:
1) how long did it take to load the model at "start" command
2) how much ram do you have on the machine to load such a model ?

[2016-11-03 15:15] #185 closed

[2016-11-03 15:47] cattoni commented on #184
I've tested such engine on a m4.10xlarge AWS machine (40 cores, 160 GB RAM):

1. "mmt start" took 10m0.3s to complete (real time of command "time");
2. after "mmt start":
- the RAM occupied by the engine was 39GB (command "free");
- according to the command "top", the java process took 194GB of Virtual Mem, 122GB of Resident Mem, 86GB of Shared Mem

[2016-11-03 16:07] vince62s commented on #184
@davidecaroselli

1) do you find it "normal" ? is this normal SAPT behavior to use much more memory than its disk space ?
2) I think you need to update the "memory" requirement in the HW home page. it's much more than 1GB for 350MB of training data.

in the end, one will need many big machines to cover a 100 pairs of languages :)

cheers.

[2016-11-03 16:36] davidecaroselli commented on #184
@vince62s

Thanks for the feedback on memory requirements, we will update that info.
For the ratio between disk space / RAM space: with the new infrastructure of MMT there is no more 1-to-1 ratio.
At the moment the LM is the one that definitely takes much RAM (both because of the monolingual data, and the optimization needed for the AdaptiveLM). While the SAPT are much less greedy of RAM.
Please n

[2016-11-03 17:24] #184 closed

[2016-11-04 17:41] vince62s opened #187 "MMT cluster question"
Hello,

I have some questions regarding the Cluster architecture.

Does it load the models (sapt+lm) on all nodes ?

Do all nodes play the same role or is there a concept of master / slave ?

What criteria are used for load balancing ? cpu usage ? memory too ?

thanks
Vincent

[2016-11-06 20:35] marcotrombetti opened #189 "Domain Names vs IDs - Inconsistency?"
MMT now allows multiple domains with the same name.
Each domain has a unique id.

This command looks ambiguous:
[code]

How do I make sure I am adding the data to the right domain?

I this we have 2 ways:
1 - Domain names are unique
2 - IDs are used

Number 1 is my favorite because it is simpler for the user and it is also aligned with the way files are named in the training folder.

[2016-11-06 21:26] marcotrombetti opened #190 "Docker - Build Release Error"
When I try to build a docker image for [MMT/docker/release/Dockerfile]

[code]

I get this error:

[code]

[2016-11-07 09:53] davidecaroselli commented on #187
Hi @vince62s

first of all, for v014-alpha the cluster feature is not active, so you should not try to use it. I'll explain the cluster feature in version 0.13:
-  All models are automatically synced from the machine you specify in the `--join` option. You don't have to do anything else.
- No master/slave pattern, all machines in the cluster expose the API and they load-balance the computation in

[2016-11-07 15:49] nicolabertoldi opened #192 "extras/translate is missing"
why the script   'extras/translate'   has been deleted?

[2016-11-07 15:57] davidecaroselli commented on #192
The translate script/functionality has been moved into mmt, so now you can use the command:
[code]

sorry for not having said that!

[2016-11-07 15:57] #192 closed

[2016-11-07 21:33] NickRuiz opened #193 "Training error for en-zh"
I tried a simple en-zh (English-Mandarin) training example using a small snippet of TED talk training data. When I attempt to run `./mmt create`, I get an error. It seems like the `/home/interact/mmt/engines/enzh_tmp/models/vocabulary` folder is never created, which might be causing the issue.
[enzh_tmp.zip](https://github.com/ModernMT/MMT/files/576702/enzh_tmp.zip)

[code]

I can train the en-it

[2016-11-07 21:38] NickRuiz commented on #193
I noticed that I had some blank lines, so I removed them with `~/mmt/vendor/moses/scripts/training/clean-corpus-n.perl TED.train en zh TED.train.clean 1 100000`. However, the error persists.

[2016-11-07 21:53] NickRuiz commented on #193
I also created a dummy project, where I copied one line from the English side and changed the extension. Something like this:
`head -1 tmp.en tmp.es`

This trains fine. But if I change the extension like so `mv tmp.es tmp.zh` and try to train with the zh language, the problem occurs. It seems like there is a step in the pipeline that doesn't like `zh`.

[2016-11-08 11:18] nicolabertoldi commented on #177
fastalign is actually thread-safe, in the sense it produces always and exactly the same alignments, although the binary models estimated during training differ.

No further investigation was done to understand why the binary models differ, because this difference does not impact on the performance.

[2016-11-08 11:18] #177 closed

[2016-11-08 11:23] #193 closed

[2016-11-08 11:24] davidecaroselli commented on #193
Hi @NickRuiz

I've just published the fix in the master branch, could you confirm that it solves this issue also in your installation?

Thanks!

[2016-11-08 11:25] #187 closed

[2016-11-08 11:26] davidecaroselli commented on #187
I'm closing this issue, if you have any further questions please reopen it.

Cheers,
Davide

[2016-11-08 11:29] davidecaroselli commented on #161
We have implemented the option `--max-interations=X` for `./mmt tune` in commit https://github.com/ModernMT/MMT/commit/03c960e621aebf2333070f27055cb020b7ae1c3e .
We opted for keeping the original default iterations right now.

We have also added **by default** the deterministic tune, if you want to have random seeds, just use the option `--random-seeds`.

[2016-11-08 11:29] #161 closed

[2016-11-08 12:35] ugermann commented on #190
Can't replicate. Try rebuilding with --no-cache
[code]

The binary release crashes, by the way, but I don't think that has any thing to do with Docker, since the build form source works.

[2016-11-08 13:20] vince62s opened #194 "pre/post text processing question"
Hi,
I got a few questions regarding pre/prost processing in mmt.
Can you please be specific in terms of choices made for:
lowercasing / truecasing - recasing
punctuation normalization (or not) ie various " '
thank you
Vincent

[2016-11-10 09:23] #194 closed

[2016-11-15 17:47] cattoni opened #195 "InterpolatedLM RocksDB fails with a single large training file ("File is too large for PlainTableReader!")"
With a single large training file (containing > 28M words) the creation of the db with "create_alm" appears ok, but trying to read it (e.g. starting the engine or doing a simple query with "query") the java/query programs take a long time and then fail with this error

[code]
Looking into the rocksDB code, the problem is in the method PlainTableReader::Open() in file
`$MMT_HOME/vendor/rocksdb/tabl

[2016-11-16 07:41] nicolabertoldi commented on #195
discussing time ago with Davide, we suggested to change the "format" of the key in the DB.
It sould solve the problem of the file size, but (maybe) it will increase query time; we should pay attention and measure this consequence.

Now the key is "domain ngram", the proposal is to changed as "ngram key",
so that the priority access is through the first word of the ngram, and not through the domain

[2016-11-16 08:03] cattoni commented on #195
I provide more precise details on this issue.

The reported logs were generated by the old version v0.13 in beginning of October.

With the  current version v0.14-alpha the failure happens during "mmt create", namely during the step
"(6 of 7) Language Model training", with the following log:
[code]

To overcome the problem, I had to split the largest files into small files (each with max 1M lines

[2016-11-17 17:30] nicolabertoldi commented on #195
The failure is not related to the key.

Instead, the failure is related to the buffer size used in create_alm.

Not clear why but having a too large value (10e^8) causes the error with any training data.
My suspect is that the batch used as buffer before actual writing into the persistent DB
uses a temporary file (or a pseudo-file) which becomes too big with respect to maximum allowed size (2Gb)
[

[2016-11-17 17:32] davidecaroselli commented on #195
Thanks @nicolabertoldi
amazing job!

[2016-11-19 00:53] alexandergunnarson opened #196 "Use Java API directly?"
First of all, MMT looks like an incredible project and I'm very impressed! I ran the example you put in the readme and it was very cool to see how quickly I could get results from it.

I was wondering, is there a way to use the Java API directly rather than only going through the REST API? I don't necessarily want to be locked into some of the design choices (sensible though they may be) of e.g. J

[2016-11-21 09:42] davidecaroselli commented on #196
Hi Alex,

you can use MMT directly from Java just including the jar compiled into the `build` folder. However the current implementation uses "external" binaries for the training, the ones contained into `build/bin`. These are actually used by the `mmt` python script, not the Java code itself.

So if you want to use the MMT runtime code you have to:
- Include the JAR `build/mmt-0.xx.jar` in your p

[2016-11-21 10:47] davidecaroselli opened #197 "InterpolatedLM buffer_size inconsistency"
@nicolabertoldi found out that the InterpolatedLM model change depending on the buffer_size value.

buffer_size=10,000
1000 Length: 2 -5.36818 1001 Length: 3 -0.287467        1002 Length: 4 -0.206977        1003[OOV]  Length: 0 -20.8127   43559 Length: 1 -5.35207        2 Length: 0 -4.68775

Perplexity: 454.499
Corpus probability: -36.7152

buffer_size=100,000
1000 Length: 2 -7.5522  1001 Length:

[2016-11-21 17:25] #197 closed

[2016-11-28 08:54] davidecaroselli commented on #196
I'm closing this issue, if you have any further question, please re-open it.
Thanks

[2016-11-28 08:54] #196 closed

[2016-11-29 08:05] marcotrombetti commented on #190
Thanks @ugermann that solved the problem.

I removed all my images and docker containers from my machine and I tried to build the 3 dockerfile provided and I got that:

**MMT/docker/release**
[code]

**MMT/docker/dev/Ubuntu-14.04**
[code]

**MMT/docker/dev/Ubuntu-16.04**
[code]

[2016-11-29 23:05] marcotrombetti commented on #171
@davidecaroselli @cattoni I also updated the documentation for Docker.

Closing. Please re-open if I am missing something.

[2016-11-29 23:05] #171 closed

[2016-11-30 07:54] mehmedes opened #198 "One system - multiple languages"
Would it be possible to create one engine supporting multiple languages?

MMT offers the possibility to include various domains in one system. What if I use corpora in different languages and make MMT think it were different domains. Of course, I'd need to use the same language abbreviation as filename appendix so that MMT does think the corpora were simply different domains.

[2016-11-30 08:04] marcotrombetti commented on #198
Nice idea. Never tried.

It may work if you have multiple source languages and one target language.
You may still have multiple domains per source language. The context
guesser will do the work.

Not sure how to do multiple target languages without changing the code a
little bit.

If you try this please let us know the results!

On Wed, 30 Nov 2016 at 08:54, Mehmed Sariyildiz <notifications@github

[2016-11-30 08:24] mehmedes opened #199 "Privacy - Translation requests tracked?"
Is it by any means possible to trace back or keep track of translation requests.

Suppose someone got into my server, could he find any coherent sentences after I deleted the test and dev corpora.

[2016-11-30 08:42] mehmedes opened #200 "Translate a file?"
Is it/will it be possible to translate a file?

[2016-11-30 08:54] mehmedes opened #201 "Preprocessed files location?"
Where's the location of the preprocessed files, e.  g. cleaned up, tokenized corpora, that are used for training.

[2016-11-30 09:31] marcotrombetti commented on #200
**If you are and end-user:**
MMT does not have yet an interface to do that. But we are working on integrating MMT with [Matecat](http://www.matecat.com) in the next months. This will do that.

**if you are a developer:**
MMT has a sentence level [API](https://github.com/ModernMT/MMT/wiki/API-Documentation).

If you need to translate a plain text file, just break it into sentences and translate it

[2016-11-30 09:33] marcotrombetti commented on #201
Are you looking for the location of your corpus cleaned/tokenized/etc or where you can find the data for creating a engine?